<div id="aids_prevention" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_prevention').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Eradicating HIV/AIDS: San Francisco’s goal</h5>
        <p class="c0">
            <span>San Francisco is aiming to be the first city in the country to stop
            all new HIV infections and deaths from AIDS -- to finally end the
            epidemic.</span>
        </p>
        <p class="c0">
            <span>The city launched its &ldquo;Getting to Zero&rdquo;
            campaign</span><span class="c2">&nbsp;last
            year</span><span>&nbsp;</span><span>in 2014</span><span class=
            "c3">&nbsp;</span><span>and has been bolstering it ever since. Last October,
            San Francisco announced $1.7 million in new funding to boost prevention
            efforts. The short-term goal is to cut new infections and deaths by 90
            percent by the year 2020.</span>
        </p>
        <p class="c0">
            <span>Most of the campaign is aimed at prevention strategies, and
            specifically at stopping infections in communities that are particularly at
            risk. Gay white men still make up the bulk of HIV infections here, but black
            men are disproportionately affected by HIV. And intravenous drug users and
            women, especially transgender women, need targeted attention, public health
            experts say.</span>
        </p>
        <p class="c0">
            <span>The city&rsquo;s already made tremendous progress in slowing down HIV
            transmission. In the past six years alone, new infections have fallen 75
            percent -- from 433 in 2008 to just 108 in 2014. At the peak of the
            epidemic, the city reported more than 2,000 new infections every
            year.</span>
        </p>
        <p class="c0">
            <span>The recent drops mostly are due to focused efforts on treating people
            as soon as they become infected. Aggressive treatment can hit the virus so
            hard that it&rsquo;s undetectable in the blood, and at that point it&rsquo;s
            almost impossible to spread from one person to another.</span>
        </p>
        <p class="c0">
            <span>Other efforts at prevention include rapid, widespread testing, so that
            people who are HIV-positive and don&rsquo;t know it can be diagnosed and
            treated right away. Plus, San Francisco has been pushing pre-exposure
            prophylaxis, or PrEP, which involves taking a daily anti-HIV pill to prevent
            infection.</span>
        </p>
    </div>
</div>