<div id="aids_pets" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_pets').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Pets a crucial lifeline for the lonely</h5>
        <p class="c1">
            <span>When Ke</span><span>vin VandenBergh&rsquo;s cat</span> <span>Truman
            died, he stopped taking his AIDS drugs for a month, until routine blood work
            showed that his immune system was taking a hit and he reluctantly started
            the drugs again. Kevin&rsquo;s reaction isn&rsquo;t unusual among long-term
            survivors.</span>
        </p>
        <p class="c1">
            <span>Men who lost countless friends and loved ones to AIDS -- in some
            cases, almost their entire social network -- sometimes struggle to form
            bonds with new people. Pets can play an especially vital role in lives lived
            largely in isolation. Losing those pets can be devastating.</span>
        </p>
        <p class="c1">
            <span>&ldquo;</span><span>If everyone you knew vanished, and the only thing
            there with unrequited love, saying, &lsquo;I&rsquo;m still here and I love
            you,&rsquo; was your pets? That&rsquo;s a big deal,&rdquo; said Kathy
            Gervais, a veterinarian with the San Francisco SPCA who works with Pets Are
            Wonderful Support (PAWS), a nonprofit that helps AIDS patients and others
            care for their animals.</span>
        </p>
        <p class="c1">
            <span>The crucial role of pets was recognized early in the epidemic, when
            PAWS was formed to help convince doctors that it was safe for AIDS patients
            to keep cats, dogs and other animals. Later, the organization helped care
            for pets when their owners were hospitalized, and offered financial help for
            people with AIDS who couldn&rsquo;t afford pet food or veterinary
            visits.</span>
        </p>
        <p class="c1">
            <span>Gervais said she used to smuggle dogs and cats into hospitals to visit
            sick owners. Now, it&rsquo;s well understood that pets can improve the
            mental and physical well-being of their owners.</span>
        </p>
        <p class="c1">
            <span>Dog owners have to take their pets outside for walks every day, which
            means they get exercise and the possibility of social interaction. Cats can
            simply force someone out of bed every morning, or provide the comfort of a
            warm, living presence.</span>
        </p>
        <p class="c1">
            <span>&ldquo;Truman provided so much joy and so much meaning and intimacy
            and purpose,&rdquo; Kevin said. &ldquo;I might not be able to do anything
            well, but I could be a really good dad to Truman. That was
            enough.&rdquo;</span>
        </p>
    </div>
</div>