<div id="aids_disability" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_disability').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <p class="c1"><span>Hundreds of long-term AIDS survivors stand to lose nearly half of their income in the next several years when their private disability payments run out and they have to rely on Social Security benefits alone.</span>
        </p>
        <p class="c1"><span>P</span><span>eople diagnosed with AIDS in the 1980s or 1990s often stopped working and went on disability, which was provided by Social Security or funded by a private insurance program.</span>
        </p>
        <p class="c1"><span>People on Social Security automatically switch from disability to retirement benefits when they reach retirement age, &nbsp;which ranges from 65 to 67 years old. There is no change in the amount of money they collect each month when that switch occurs.</span>
        </p>
        <p class="c1"><span>But people on private disability, who usually collect Social Security in addition to their private benefits, will lose that income when the insurance runs out, which is typically at age 65. From that point on, they will collect only Social Security. That means they lose a substantial amount of their income.</span>
        </p>
        <p class="c1"><span>According to a report released last November, somewhere between 400 and 1,254 long-term AIDS survivors in San Francisco receive private disability benefits that they will lose when they reach retirement age. Their income will be cut on average by 40 percent.</span>
        </p>
        <p class="c1"><span>That could have a dramatic impact on their quality of life and ability to remain in San Francisco. For example, the report found that their rent as a proportion of monthly income would increase from 45 percent to 74 percent, meaning many who can afford their homes now would not be able to after losing private disability.</span>
        </p>
        <p class="c1"><span>Federal programs exist to provide subsidies to people with HIV or AIDS to help them pay rent, but there are no plans to increase funding to those programs. San Francisco would have to decide whether to make up the difference, which would cost up to $20 million over the next five years, according to the report.</span>
        </p>
        <p class="c1"><span>The city has not yet made plans to address the shortfall in rental subsidies. Supervisor Scott Wiener, whose office requested the disability report, has held meetings to discuss the problem and plans to continue looking into it in 2016.</span>
        </p>
    </div>
</div>