<div id="aids_care" class="sidebar-container">
	<div class="sidebar-controls">
		<span class="close-sidebar-button" onclick="document.getElementById('aids_care').style.display='none'">
			<i class="close">X</i>
		</span>
	</div>
	<div class="sidebar-content">
		<p>The staff at San Francisco General Hospital won praise early in the epidemic for their compassionate care of people, especially gay men, dying of AIDS. On Ward 5B -- the first inpatient AIDS ward in the country -- the nursing staff was made up of gay men and LGBT allies, and everyone on the floor was there by choice, not assignment.</p>

		<p>The nurses realized from the beginning that the epidemic would be history-making. So they started a scrapbook -- now stored at the public library -- in which they kept photos of patients and staff and thank-you cards from families.</p>

		<p>They also started a list.</p>

		<p>On the first page of the scrapbook, in 1983, one nurse wrote: “I don’t want the names of the folks who have died on this ward to be forgotten.” There are 28 carefully handwritten names on that page.</p>

		<p>Flip a few pages to 1985, and the list contains nearly 200 names, each so tightly scrawled, some are hard to read.</p>
	</div>
</div>

<style type="text/css">
.sidebar-container {
	display: none;
    max-width: 585px;
    width: 90%;
    box-shadow: -3px 0 12px -3px rgba(25,25,35,0.06),inset 1px 0 0 #e2e2e2;
    position: fixed;
    height: auto;
    z-index: 1000000130;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #fff;
    padding: 0;
    overflow: visible !important;
}

.sidebar-controls {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 1px 0.25em 0 rgba(0,0,0,0.05);
    position: absolute;
    width: 25px;
    top: 20px;
    left: -24px;
    background-color: #fff;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #e2e2e2;
    color: #999;
    cursor: pointer;
}

.close-sidebar-button {
	position: relative;
    transition: background-color 0.2s ease-in;
    border-radius: 50%;
    background-clip: padding-box;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.close {
	padding: 4px 5px;
}

.sidebar-content {
    height: 100%;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 38px;
    font-size: 0.95em;
    margin-top: -30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.sidebar {
	background-color: rgba(255, 4, 4, 0.29);
}
</style>