<div id="aids_rank" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_rank').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Is any city prepared to serve aging survivors?</h5>
        <p>San Francisco has one of the largest populations of long-term survivors in the country, but other cities are facing similar public health crises as those living with AIDS get older.</p>

        <p>And though critics note that San Francisco isn&rsquo;t yet providing all the support that long-term survivors need to stay healthy, the city is still ahead of many other places. San Francisco, at least, has identified that long-term survivors are living here and need special services like help with housing and health care.</p>

        <p>So far, San Francisco and New York City are the only two major urban areas to address the problem and get buy-in from government and nonprofit agencies, said Hanna Tessema, who works with AIDS Community Research Initiative of America (ACRIA), a New York group that is raising national awareness of HIV and aging issues.</p>

        <p>&ldquo;There&rsquo;s a lot of frustration&rdquo; in San Francisco, she said. &ldquo;But at least they acknowledge there are a lot of survivors; they&rsquo;ve acknowledged there&rsquo;s a need for services. Many cities haven&rsquo;t even acknowledged this is a problem, or haven&rsquo;t gotten any commitment to do anything.&rdquo;</p>

        <p>Communities in Southern states in particular are in trouble, she added. There are large pockets of long-term survivors in Florida, Louisiana, Georgia, Mississippi and east Texas, for example, and almost no discussion of how to help them.</p>

        <p>Though San Francisco is leading the national conversation around aid for survivors, Supervisor Scott Wiener said the city is still &ldquo;definitely behind&rdquo; in keeping up with their needs. The city has a responsibility, he said, to see to those needs and lead other communities to do the same.</p>

        <p>&ldquo;We were always in the vanguard in terms of making a commitment, making the financial investment, being on the cutting edge,&rdquo; Wiener said. &ldquo;We have to continue to do that.&rdquo;</p>
   </div>
</div>