<div id="aids_housing" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_housing').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <p class="c2">
            <span>Material on housing options for people with HIV/AIDS, how the city can help, how other agencies can help. Also numbers from the current rental market.</span>
        </p>
    </div>
</div>