<div id="aids_isolation" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_isolation').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <p class="c1"><span>Isolation is one of the most widespread and harmful consequences of long-term survival. Drawing men out of their homes is also one of the biggest challenges facing the city and agencies that serve people with HIV.</span>
        </p>
        <p class="c1"><span>Here are some of the social outlets that already are available, or may soon be starting.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">Elizabeth Taylor 50-Plus Network. </span><span>This San Francisco AIDS Foundation </span><span class="c3"><a class="c0" target="_blank" href="http://sfaf.org/client-services/50-plus/">group</a></span><span>&nbsp;meets weekly to provide friendship and support for long-term survivors and others affected by AIDS.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">Honoring Our Experience.</span><span>&nbsp;A </span><span class="c3"><a class="c0" href="http://www.saratogasprings.com/retreats/HonoringOurExperience.html" target="_blank">group</a></span><span>&nbsp;supported by the Shanti Project that holds weekly meetings as well as weekend retreats twice a year. The group has hosts dances for long-term survivors.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">The Billys.</span><span>&nbsp;A gay men&rsquo;s </span><span class="c3"><a class="c0" href="http://thebillys.org/" target="_blank">club</a></span><span>&nbsp;created in the late 1980s with roots in the epidemic. It&rsquo;s for men of all ages, but most participants are older and many are HIV-positive. The group also holds weekend retreats.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">Openhouse HIV support group</span><span>. </span><span class="c3"><a class="c0" href="http://openhouse-sf.org/" target="_blank">Openhouse</a></span><span>&nbsp;is an LGBT senior center, and its HIV support group, started 15 years ago, may be the only formal, therapist-led group for long-term survivors in San Francisco. There is a waiting list to get into the group. Openhouse also has non-HIV-specific programs for LGBT seniors.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">Let&rsquo;s Kick ASS. </span><span>A grassroots support </span><span class="c3"><a class="c0" href="http://letskickass.org/" target="_blank">group</a></span><span>&nbsp;started by long-term survivor Tez Anderson that holds weekly fitness sessions and other meetings in the Castro.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">HIV Long-Term Survivors</span><span>. Jesus Guillen started this private Facebook </span><span class="c3"><a class="c0" href="https://www.facebook.com/groups/466278376873515/" target="_blank">group</a></span><span>&nbsp;last summer, and it already has nearly 1,000 members.</span>
        </p>
        <p class="c1"><span>*</span><span class="c4">Shanti Project.</span><span>&nbsp;</span><span class="c3"><a class="c0" href="http://www.shanti.org/" target="_blank">Shanti </a></span><span>re-engineered a long-standing program for learning life skills to meet the needs of survivors. Shanti also has plans to start new formal support groups for long-term survivors early next year.</span>
        </p>
    </div>
</div>