<div id="aids_aging" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_aging').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>The link between premature aging and HIV</h5>
        <p class="c0"><span>The San Francisco study of older people with HIV and AIDS found high rates of so-called geriatric problems -- things like falls and overall frailty, vision and hearing impairments, </span><span>erectile dysfunction</span><span>, and cognitive disorders. What&rsquo;s causing these problems remains unclear.</span>
        </p>
        <p class="c0"><span>Some of the disorders undoubtedly are due directly to HIV infection, especially long-term exposure to the virus. Other disorders may be caused by drugs to treat HIV, or by drug interactions. Long-term survivors often have more than a dozen prescriptions and take 40 or more pills a day. If someone is showing signs of cognitive impairment, for example, it can be difficult to tell if it&rsquo;s caused by HIV or a mix of drugs that cause mental fogginess.</span>
        </p>
        <p class="c0"><span>What&rsquo;s becoming obvious, however, is that long-term survivors increasingly need treatment not just for HIV, but for the traditional signs of aging. But their doctors -- almost always experts in HIV and AIDS -- often aren&rsquo;t equipped to treat geriatric conditions.</span>
        </p>
        <p class="c0"><span>In January, San Francisco General Hospital began a geriatrics program in its outpatient AIDS clinic, Ward 86. The program, the first of its kind in the country, brings a geriatric expert to the ward once a week to consult with HIV doctors who may have questions about treating osteoporosis, arthritis, incontinence -- all aging-related disorders that may be far outside their field of expertise.</span>
        </p>
        <p class="c0"><span>The initial program is being funded by UCSF grants and a $100,000 donation from AIDS Walk. Researchers also have asked for funding from the San Francisco Department of Public Health.</span>
        </p>
    </div>
</div>