<div id="aids_kickass" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_kickass').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Building community, raising awareness</h5>
        <p>Tez Anderson was not a cheerful man as it dawned on him that he was going to survive AIDS. He felt &ldquo;duped&rdquo; into having accepted that death was imminent and giving up on his life. He was frustrated, bitter and increasingly depressed. He became prone to irrational anger, anxiety and nightmares. He found himself withdrawing from friends.</p>

        <p>Then in late 2011, he saw a news report about post-traumatic stress disorder. The symptoms were alarmingly familiar.</p>

        <p>It wasn&rsquo;t long after that epiphany that Anderson, now 56, created <a href="http://letskickass.org/" target="_blank">Let&rsquo;s Kick ASS</a>, one of the first groups for long-term survivors of AIDS in the world. &ldquo;ASS&rdquo; stands for AIDS Survivor Syndrome, a concept that Anderson and a few friends came up with to describe the unique experience of having made it through the worst years of the epidemic alive but not unscathed.</p>

        <p>Let&rsquo;s Kick ASS held its first public meeting in San Francisco&rsquo;s LGBT Center in September 2013, and Anderson was shocked at the turnout. More than 200 people showed up, and their stories were eerily similar – tales of isolation, grief, anger, lingering health problems and financial nightmares.</p>

        <p>Though it&rsquo;s lost some momentum in San Francisco, the organization has grown into a national movement. A Facebook <a href="https://www.facebook.com/AIDSSurvivorSyndrome" target="_blank">group</a> is the best source of information and social connection.</p>

        <p>Anderson wants to restructure the group now to make it more forward-looking. He wants his peers to start thinking about their futures – again, or for the first time.</p>

        <p>&ldquo;I see a lot of people who are so traumatized and overwhelmed by the past that they&rsquo;re unable to move forward, and it&rsquo;s heartbreaking,&rdquo; he said. &ldquo;How do we carry our past into the future, and not be weighed down by it?&rdquo;</p>
        <p>– Erin Allday</p>
    </div>
</div>