<div id="aids_antiretrovirals" class="sidebar-container">
	<div class="sidebar-controls">
		<span class="close-sidebar-button" onclick="document.getElementById('aids_antiretrovirals').style.display='none'">
			<i class="close">X</i>
		</span>
	</div>
	<div class="sidebar-content">
        <h5>The rise of antiretrovirals</h5>
		<p>Development of the first antiretroviral drug in 1987 offered a glimmer of hope in treating HIV and AIDS, but it would take another eight years for that discovery to pay off.</p>

		<p>That first antiretroviral – designed to prevent HIV from replicating after a person had been infected – was azidothymidine, or AZT. It slowed down the virus but didn&rsquo;t stop HIV entirely, and some people experienced severe side effects, especially when they were given large doses. </p>

		<p>The real turning point in the epidemic came in 1995. That was when the U.S. Food and Drug Administration approved the first protease inhibitor, a type of antiretroviral that was much more effective than AZT at interrupting HIV&rsquo;s ability to replicate. Protease inhibitors were used in combination with AZT in drug cocktails that could halt HIV and prevent people from developing AIDS.</p>

		<p>Immediately, the number of deaths from AIDS plummeted – from 1,485 in San Francisco in 1995, to 993 the next year and just 424 in 1997.</p>

		<p>&ldquo;The moment we realized we had a treatment is a moment I will never forget,&rdquo; said Dr. Diane Havlir, a UCSF physician who has worked with AIDS patients since the mid-1980s. &ldquo;The story of HIV is one of the greatest successes in modern medicine. We went from a uniformly fatal disease to a treatable one.&rdquo; </p>

		<p>While they saved lives, the drug cocktails were crude by today&rsquo;s standards. Patients had to take dozens of pills – sometimes as many as 40 – several times a day. The side effects could be severe, ranging from problems like nausea, vomiting and diarrhea to more serious conditions like kidney stones, pancreatitis, nerve damage and anemia. The drugs also could be toxic to the liver.</p>

		<p>HIV medications have improved, and newly infected patients may need only two or three pills a day, with minimal side effects. There is still no cure for HIV, though, and once people are infected, they must stay on antiretroviral therapy the rest of their lives.</p>

		<p>People who were infected with HIV in the 1980s and early 1990s today are suffering other health problems related to long-term exposure to the virus. But for the newly diagnosed, what was once a death sentence has been downgraded to a chronic – albeit serious – condition.</p>
		<p>– Joaquin Palomino</p>
	</div>
</div>