<div id="aids_isolation" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_isolation').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Where survivors can find support</h5>
        <p class="c4">
            <span>Isolation is one of the most widespread and harmful consequences of
            long-term survival. Drawing men out of their homes is also one of the
            biggest challenges facing the city and agencies that serve people with
            HIV.</span>
        </p>
        <p class="c4">
            <span>Here are some of the social outlets that already are available, or may
            be starting soon.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">Elizabeth Taylor 50-Plus Network.</span>
            <span>This San Francisco AIDS Foundation</span> <span class="c3"><a class=
            "c0" href=
            "https://www.google.com/url?q=http://sfaf.org/client-services/50-plus/?referrer%3Dhttps://www.google.com/&amp;sa=D&amp;ust=1455667190098000&amp;usg=AFQjCNHYcr0rZZ0ajWRrNGxVH5PhWv9_sw">
            group</a></span><span>&nbsp;meets weekly to provide friendship and support
            for long-term survivors and others affected by AIDS.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">Honoring Our
            Experience.</span><span>&nbsp;A</span> <span class="c3"><a class="c0" href=
            "https://www.google.com/url?q=http://www.saratogasprings.com/retreats/HonoringOurExperience.html&amp;sa=D&amp;ust=1455667190099000&amp;usg=AFQjCNG7tx6fny2UUDIHU5v_GHgzKI5owA">
            group</a></span><span>&nbsp;started by survivor Gregg Cassin and supported
            by the Shanti Project that holds weekly meetings as well as weekend retreats
            twice a year. The group also hosts dances for long-term survivors.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">The Billys.</span><span>&nbsp;A gay
            men&rsquo;s</span> <span class="c3"><a class="c0" href=
            "https://www.google.com/url?q=http://thebillys.org/&amp;sa=D&amp;ust=1455667190101000&amp;usg=AFQjCNFsYmFlwKY5sNWzLBwl-qCL8gQCrA">
            club</a></span><span>&nbsp;created in the late 1980s with roots in the
            epidemic. It&rsquo;s for men of all ages, but most participants are older
            and many are HIV-positive. The group also holds weekend retreats.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">Openhouse HIV support
            group</span><span>.</span> <span class="c3"><a class="c0" href=
            "https://www.google.com/url?q=http://openhouse-sf.org/&amp;sa=D&amp;ust=1455667190102000&amp;usg=AFQjCNFOUgShGkfFjYz_9NVajg47hcuSKQ">
            Openhouse</a></span><span>&nbsp;is an LGBT senior center, and its HIV
            support group, started 15 years ago, may be the only formal, therapist-led
            group for long-term survivors in San Francisco. There is a waiting list to
            get into the group. Openhouse also has non-HIV-specific programs for LGBT
            seniors.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">Let&rsquo;s Kick ASS.</span> <span>A
            grassroots support</span> <span class="c3"><a class="c0" href=
            "https://www.google.com/url?q=http://letskickass.org/&amp;sa=D&amp;ust=1455667190103000&amp;usg=AFQjCNGSzteXJRG8UmgKsyH8jftk1VaMLg">
            group</a></span><span>&nbsp;started by long-term survivor Tez Anderson that
            holds weekly fitness sessions and other meetings in the Castro.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">HIV Long-Term Survivors</span><span>.
            Jesus Guillen started this private Facebook</span> <span class=
            "c3"><a class="c0" href=
            "https://www.google.com/url?q=https://www.facebook.com/groups/466278376873515/&amp;sa=D&amp;ust=1455667190104000&amp;usg=AFQjCNE17q1dVCmaGqx3bdkV5Frd74R5PQ">
            group</a></span><span>&nbsp;last summer, and it already has nearly 1,000
            members.</span>
        </p>
        <p class="c4">
            <span>&gt;</span> <span class="c1">Shanti
            Project.</span><span>&nbsp;</span><span class="c3"><a class="c0" href=
            "https://www.google.com/url?q=http://www.shanti.org/&amp;sa=D&amp;ust=1455667190105000&amp;usg=AFQjCNEET6nA3Fjb1LoD6f7kxZsMdnsz2g">Shanti</a></span>
            <span>re-engineered a long-standing program for learning life skills to meet
            the needs of survivors. Shanti also has plans to start new formal support
            groups for long-term survivors early next year.</span>
        </p>
    </div>
</div>