<div id="aids_needs" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_needs').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>A first step: identifying AIDS survivors’ needs</h5>
        <p>Perhaps the largest barrier to providing services for long-term AIDS survivors is not understanding precisely what they need. To that end, needs assessment surveys of varying sizes and scientific relevance have been done in San Francisco and New York.</p>

        <p>The first surveys unveiled widespread mental health problems, especially related to isolation, along with concerns over housing and long-term finances. Those surveys need to be updated now, researchers say, and they should be more inclusive, tapping into the growing and diverse population of older people with HIV or AIDS.</p>

        <p>2006: The first study, in New York, was done by the AIDS Community Research Initiative of America. It surveyed more than 900 older adults with HIV. The study identified the aging population as &ldquo;growing and invisible&rdquo; and identified isolation and health complications as major concerns. The study, called Research on Older Adults with HIV, is available <a href="https://www.acria.org/research-study" target="_blank">online</a>.</p>

        <p>2009: Gay Men&rsquo;s Health Crisis in New York studied the needs of 180 older men with HIV and the services they were currently using.</p>

        <p>2010: San Francisco&rsquo;s first paper on HIV and aging was an analysis of focus group reports and local and national epidemiological data. It was not a direct survey of long-term survivors. The report suggested that San Francisco devote &ldquo;substantial&rdquo; focus to identifying and serving long-term survivors.</p>

        <p>2013: San Francisco&rsquo;s first survey of older people with HIV was released. The report, which largely replicated the earlier GMHC paper, surveyed 160 people in San Francisco, Marin and San Mateo counties. The survey identified isolation, high cost of living and housing as major concerns. The survey also found that more than a third of participants didn&rsquo;t know what services were available to them, or found those services too expensive. The survey results are available in PDF form <a href="http://www.sfcarecouncil.org/Documents/docs/Loren-%20Upload%20to%20website/HIV_&_Aging_Paper.pdf" target="_blank">online</a>. </p>

        <p>2016: ACRIA is planning a follow-up survey to its 2006 study. The organization would like to survey up to 400 people in San Francisco in addition to New York. It also plans to survey people in Oakland, Chicago, Atlanta and other metropolitan areas with large populations of long-term survivors. The new surveys still need funding – about $250,000 in San Francisco. If ACRIA gets the money, the San Francisco survey could start this summer.</p>
    </div>
</div>