<div id="aids_infections" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_infections').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>How HIV attacks the body</h5>
        <p class="c0">In 1981, a handful of young gay men on opposite sides of the country were diagnosed with two rare diseases usually found in sick elderly people. At the time, no one knew those cases were a harbinger of an epidemic that would take millions of lives and travel across the globe.</p>

        <p class="c0">Dozens of men in Los Angeles, San Francisco and New York developed pneumocystis pneumonia, a fungal infection found in people with severely suppressed immune systems, and Kaposi’s sarcoma, a rare and typically benign cancer that produces reddish-purple lesions on the body.

        </p>
        <p class="c0">Both diseases spread at an aggressive pace and did not respond to standard treatments, baffling the medical community. The U.S. Centers for Disease Control and Prevention led investigations into what was causing these unprecedented illnesses, and scientists quickly decided a virus was involved. Three years later, the human immunodeficiency virus, or HIV, was discovered.
        </p>

        <p class="c0">HIV latches onto mucous membranes that line parts of the body that first come into contact with the virus, then travels to the lymph nodes, where it attacks T-cells, which are crucial for maintaining a healthy immune system. Once a patient's T-cell count drops below a certain threshold, HIV becomes AIDS, and a host of opportunistic infections can develop.
        </p>
        <p class="c0">During the peak years of the epidemic in the 1980s and 1990s, these opportunistic infections were the most obvious and horrifying signs of illness. In addition to pneumocystis pneumonia and Kaposi’s sarcoma, patients often suffered infections that could cause blindness, meningitis and wasting disease.
        </p>
    </div>
</div>