<div id="aids_disability" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_disability').style.display='none'">
            <i class="close">X</i>
        
    </div>
    <div class="sidebar-content">
        <h5>Living longer, but losing income</h5>
        <p>Hundreds of long-term AIDS survivors stand to lose nearly half of their incomes in the next several years when their private disability payments run out and they have to rely on Social Security benefits alone.</p>
        <p>People diagnosed with AIDS in the 1980s or 1990s often stopped working and began receiving disability payments provided by Social Security or through private insurance programs.</p>
        <p>People on Social Security automatically switch from disability to retirement benefits when they reach retirement age,  which ranges from 65 to 67 years old. There is no change in the amount of money they collect each month when that switch occurs.</p>
        <p>But those on private disability, who usually collect Social Security in addition, will lose that income when the insurance runs out, which is typically at age 65. From that point on, they will collect only Social Security, losing a substantial amount of income.</p>
        <p>According to a report released last November, somewhere between 400 and 1,254 long-term AIDS survivors in San Francisco receive private disability benefits that they will lose when they reach retirement age. Their income will be cut on average by 40 percent.</p>
        <p>That could have dramatic impacts on their quality of life and ability to remain in San Francisco. For example, the report found that rent as a proportion of their monthly income would increase from 45 percent to 74 percent, meaning many who can afford their homes now would not be able to any longer.</p>
        <p>Federal programs exist to provide subsidies to people with HIV or AIDS to help them pay rent, but there are no plans to increase funding to those programs. San Francisco would have to decide whether to make up the difference, which would cost up to $20 million over the next five years, according to the report.</p>
        <p>The city has not yet made plans to address the shortfall in rental subsidies. Supervisor Scott Wiener, whose office requested the disability report, has held meetings to discuss the problem and plans to continue looking into it this year.</p>
    </div>
</div>