<div id="aids_care" class="sidebar-container">
	<div class="sidebar-controls">
		<span class="close-sidebar-button" onclick="document.getElementById('aids_care').style.display='none'">
			<i class="close">X</i>
		</span>
	</div>
	<div class="sidebar-content">
        <h5>The link between premature aging and HIV</h5>
		<p>The staff at San Francisco General Hospital won praise early in the epidemic for their compassionate care of people, especially gay men, dying of AIDS. On Ward 5B – the first inpatient AIDS ward in the country – the nursing staff was made up of gay men and LGBT allies, and everyone on the floor was there by choice, not assignment.</p>

		<p>The nurses realized from the beginning that the epidemic would be history-making. So they started a scrapbook – now stored at the public library – in which they kept photos of patients and staff and thank-you cards from families.</p>

		<p>They also started a list.</p>

		<p>On the first page of the scrapbook, in 1983, one nurse wrote: “I don’t want the names of the folks who have died on this ward to be forgotten.” There are 28 carefully handwritten names on that page.</p>

		<p>Flip a few pages to 1985, and the list contains nearly 200 names, each so tightly scrawled, some are hard to read.</p>
	</div>
</div>