<div id="aids_isolation" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_isolation').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Where survivors can find support</h5>
        <p>Isolation is one of the most widespread and harmful consequences of long-term survival. Drawing men out of their homes is also one of the biggest challenges facing the city and agencies that serve people with HIV.</p>

        <p>Here are some of the social outlets that already are available, or may be starting soon.</p>

        <p>> Elizabeth Taylor 50-Plus Network. This San Francisco AIDS Foundation <a href="http://sfaf.org/client-services/50-plus/" target="_blank">group</a> meets weekly to provide friendship and support for long-term survivors and others affected by AIDS.</p>

        <p>> Honoring Our Experience. A <a href="http://www.saratogasprings.com/retreats/HonoringOurExperience.html" target="_blank">group</a> started by survivor Gregg Cassin and supported by the Shanti Project that holds weekly meetings as well as weekend retreats at least three times a year. The group also hosts dances for long-term survivors.</p>

        <p>> The Billys. A gay men&rsquo;s <a href="http://thebillys.org/" target="_blank">club</a> created in the late 1980s with roots in the epidemic. It&rsquo;s for men of all ages, but most participants are older and many are HIV-positive. The group holds weekend retreats.</p>

        <p>> <a href="http://openhouse-sf.org/" target="_blank">Openhouse</a> HIV support group. Openhouse is an agency serving LGBT seniors, and its HIV support group, started 15 years ago, may be the only formal, therapist-led group for long-term survivors in San Francisco. There is a waiting list to get into the group. Openhouse also has non-HIV-specific programs for LGBT seniors.</p>

        <p>> Let&rsquo;s Kick ASS. A grassroots support <a href="http://letskickass.org/" target="_blank">group</a> started by long-term survivor Tez Anderson that holds weekly fitness sessions and other meetings in the Castro.</p>

        <p>> HIV Long-Term Survivors. Jesus Guillen started this private Facebook <a href="https://www.facebook.com/groups/466278376873515/" target="_blank">group</a> last summer, and it already has more than 1,400 members.</p>

        <p>> <a href="http://www.shanti.org/" target="_blank">Shanti Project</a>. Shanti reengineered a longstanding program for learning life skills to meet the needs of survivors. Shanti also is starting a new formal support group for long-term survivors on March 10. Anyone interested in joining should email Eric Sutter at esutter@shanti.org.</p>
    </div>
</div>