<div id="aids_housing" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_housing').style.display='none'">
            <i class="close">X</i>
        </span>
    </div>
    <div class="sidebar-content">
        <h5>Housing: High costs, major consequences</h5>
        <p class="c0">
            <span>Housing stability is a significant problem for people with HIV/AIDS,
            whether they&rsquo;re recently diagnosed or long-term survivors. Research
            has shown that people who don&rsquo;t have reliable housing are less likely
            to stay on their drug regimen and see a doctor regularly, and have more
            mental health problems compared to those with stable housing.</span>
        </p>
        <p class="c0">
            <span>How many long-term survivors face housing insecurity isn&rsquo;t
            clear. The city estimates that 60 percent of gay seniors are renters, and
            for people with AIDS living on a fixed income, renting leaves them
            vulnerable to a volatile housing market. Even people who have an apartment
            they can afford worry about losing their homes. The AIDS Legal Referral
            Panel in San Francisco, which provides free or low-cost aid to people with
            HIV, has four attorneys assigned just to handling eviction cases, said
            executive director Bill Hirsh.</span>
        </p>
        <p class="c0">
            <span>For those who lose a rental, finding a new affordable place can be an
            enormous challenge. The average rent for a one-bedroom apartment in San
            Francisco is about $3,500, far outside the range for someone living on
            Social Security disability, even with a roommate to split the cost.</span>
        </p>
        <p class="c0">
            <span>There are resources to help people of all ages with HIV/AIDS find
            housing, but services can be complicated to navigate and there isn&rsquo;t
            nearly enough to cover everyone in need. San Francisco closed its waiting
            list for affordable housing for people with HIV/AIDS more than 15 years ago
            when demand became too high.</span>
        </p>
        <p class="c0">
            <span>A federal housing program -- called Housing Opportunities for People
            with AIDS -- provides up to $1,550 a month in rental subsidies. But
            there&rsquo;s a cap on how much funding will go to a particular region, and
            the money sent to San Francisco isn&rsquo;t expected to increase in the
            coming years, even as need for subsidies grows. A handful of nonprofit
            agencies also offer rental subsidies, but those groups don&rsquo;t provide
            enough help to make up for the government shortfall.</span>
        </p>
    </div>
</div>