<div id="aids_hand" class="sidebar-container">
    <div class="sidebar-controls">
        <span class="close-sidebar-button" onclick="document.getElementById('aids_hand').style.display='none'">
            <i class="close">X</i>
        
    </div>
    <div class="sidebar-content">
        <h5>HIV’s impact on the brain</h5>
        <p>In the earliest years of the epidemic, before drugs to treat HIV, dementia was common among AIDS patients. Roughly a third would experience severe cognitive decline before they died.</p>

        <p>After HIV became a treatable disease, rates of dementia fell dramatically. Today, some studies show that less than 5 percent of all HIV-infected people develop HIV-associated dementia. People whose infection is well controlled with drugs are less likely to develop dementia, but drug therapy doesn&rsquo;t guarantee protection.</p>

        <p>Other, milder cognition problems are still prevalent. These impairments, along with dementia, are known collectively as HIV-associated neurocognitive disorders, or HAND.</p>

        <p>The less severe types of HAND produce symptoms that may not even be noticeable to patients, their friends or family. Some people experience problems with memory, language and decision-making skills, but are still able to function day to day.</p>

        <p>Studies suggest that roughly half of all people with HIV have some cognitive impairment, although in most cases the effect is so small that patients don&rsquo;t notice any symptoms. Rates are higher among people who have been HIV-positive for 10 or more years. </p>

        <p>Other than HIV antiretroviral therapy, there are no drugs to treat HAND specifically.</p>
        <p>– Erin Allday</p>
    </div>
</div>