#ralph-and-david {
  #section10 > .two-up {
    @include media(max-width $small-breakpoint) {
      background-size: cover !important;
      background-position: 100% !important;
    }
  }
}

#sf_logo {
  z-index: 6;
  position: fixed;
  top: 10px;
  left: 10px;	
}

#sf_c_logo {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 10px;
  width: 30px;
  background-color: #333;
  padding: 10px 0 0;
}

.ad {
  float: none;
}

.lede {
  font-weight: normal;
}

.grid-item.current-profile {
  padding: 10px 0 0 15px;
}

body {
  background-color: #000;
}