.mainbar {
  .nav-trigger {
    span,
    span:before,
    span:after {
      background: black;
    }

    &.active {
      span:before,
      span:after {
        background: white;
      }
    }
  }

  header.topper {
    $bg-image-1: 'http://ww2.hdnux.com/photos/42/03/13/8925905/7/2048x1594.jpg';
    $bg-image-2: 'http://ww4.hdnux.com/photos/41/55/72/8838831/9/2048x1366.jpg';

    @include display(flex);
    @include align-items(center);
    @include align-self(center);



    color: white;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: none;

    background-size: cover;
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url($bg-image-2);

    @include media(max-width 595px) {

      @include align-items(flex-end);
      @include justify-content(flex-end);
    }

    @include media(max-width $small-breakpoint) {
      border-width: em(15);
    }

    section {
      display: block;
      width: 100%;
      margin: 0 auto;
      max-width: 720px;
      @include z-index(5);

      @include media (max-width 595px) {
        margin-bottom: 20%;
      }

      p {
        margin: 0 auto;
        max-width: 460px;
      }

      h1 {
        margin-bottom: em(5);

        @include media (max-width $small-breakpoint) {
          font-size: 1.5em;
        }
      }

      .description {
        position: relative;
        padding: 0 10px;

        @include media (max-width $small-breakpoint) {
          font-size: 0.75em;
        }

      }

      .byline {
        @include span-columns(6 of 8);
        @include shift(1);

        font-size: em(14);
      }

      a {
        color: white;
        font-weight: bold;
      }

      hr {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.image {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  p {
    font-size: 0.65em;
    color: #636363;
    font-family: $sans-serif;

    @include media(max-width 900px) {
      padding: 0 10px;
      font-size:0.55em;
    }
  }
}

.aside-video {
    max-width: 700px;
    margin: 0 auto;
}

.byline {
  float: right;
  margin-bottom: 0;
}
.caption {
  clear: right;
  font-size: 0.65em;
  color: #636363;
  padding: 0 10px;
  font-family: "AntennaMedium", "Lato", "Helvetica Neue", Helvetica, sans-serif;

  @include media (max-width $small-breakpoint){
    font-size:12px;
  }
}

.img-full-width {
  width:100%;

  img {
  width: 100%;
  }

  p {
    font-size: 0.65em;
    color: #636363;
    font-family: sans-serif;
    padding: 0 10px;
  }
}

.portrait {
  max-width:400px;
  float: left;
  padding: 1em;
  margin-left: 14%;
  margin-bottom: 1em;

  @include media (max-width 641px) {
    margin: 0 auto;
  }
}


.ad {
  $border: 1px solid lightgray;
  @include span-columns(12);

  border-top: $border;
  border-bottom: $border;
  padding: em(25);

  img {
    display: block;
    margin: 0 auto;
  }
}

.sidebar-aside {
  width: 200px;
  float: right;
  margin-top: 2em;
  margin-right: 14%;

  @include media (max-width 641px) {
    width: 100%;
    margin:0 auto;
    float:none;
    max-width: 300px;
  }

  a {
    color: #333;
  }
  
  article {
    padding: 1em;
    margin-bottom: 1em;

    @include media (max-width 641px) {
      margin-bottom:0 ;
    }

    h3 {
      color: #333;
      font-size: 0.6em;
      -webkit-transition: opacity 340ms ease-in-out;
      -moz-transition: opacity 340ms ease-in-out;
      -ms-transition: opacity 340ms ease-in-out;
      -o-transition: opacity 340ms ease-in-out;
      transition: opacity 340ms ease-in-out;
    }
  }
  
  .aside-title {
    text-transform: uppercase;
    color: #a1a1a1;
    margin-bottom: .6875em;
    font-size: 0.7em;
  }
  
  figure {
    margin: 0;
    width: 100%;
    -webkit-transition: opacity 340ms ease-in-out;
    -moz-transition: opacity 340ms ease-in-out;
    -ms-transition: opacity 340ms ease-in-out;
    -o-transition: opacity 340ms ease-in-out;
    transition: opacity 340ms ease-in-out;

    img {
      width: 100%;
      height: auto;
    }
  }

}

#landing-video {
  
  @include media (max-width $medium-breakpoint) {
    display:none;
  }
}

.landing-gif {

  
  @include media(max-width 600px){
    opacity:0.65;
    background-image: url('http://projects.sfchronicle.com/media/aids-proj/castro_flag.gif');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#mainbar-video {
  
  @include media (max-width $medium-breakpoint) {
    display:none;
  }
}

.mainbar-gif {

  @include media(max-width $medium-breakpoint){
    background-image: url('http://ww2.hdnux.com/photos/41/00/73/8654565/15/900x900.jpg');
    opacity:0.5;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @include media(max-width 600px){
    opacity:0.65;
    background-image: url('http://projects.sfchronicle.com/media/aids-proj/mainbar.gif');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.aids-graphics {
  max-width: 1220px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.aids-graphics-inner {
  @include media (max-width $medium-breakpoint) {
    width: 1029px !important;
    border: 10px solid #333;
    padding: 10px !important;
  }
}

.update-btn{
  padding:5px 10px;
  font-family:$sans-serif;
  text-transform:uppercase;
  font-size:15px;
  background:white;
  cursor:pointer;
  display:inline-block;

  a{
   color:red;
  }

  @include media (max-width $small-breakpoint){
    font-size:12px;
  }
}

.book-gif{
  display:none;
    @include media (max-width $medium-breakpoint){
      display:block;
      margin:0 auto;
    }
}

#my-video{
  @include media (max-width $medium-breakpoint){
    display:none;
  }
}
