$animation-duration: 0.4s;

#menu {
  font-family: $serif;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 42px;
  background: #dddddd;
  display: block;
  width: 100%;
  z-index: 22;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 20px;
  box-sizing: content-box;

  a { 
    color:#595959;
    text-decoration:none;

  }

  li {
    float:left;
    padding-left:20px;
    font-size:13px;
  }

	a:hover { 
	 ext-decoration:underline; 
	}

  .c-logo {
    float: left;
    width: 27px;
    padding: 5px 15px;
    margin-top: -10px;
  }

}

#logo {
  float: left;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: -6px;
  color: #C32525;

  img {
    width: 34px;
  }

}

#main-links {
  display: block;
  float: left;

	li:last-child {
	 padding-right:0;
	}

   @include media (max-width 560px) {
    display:none;
  }
}

#footer-social {
  float: right;
  font-size:0.9em;

  a{ 
    padding-right: 10px;
  }

  a:last-child {
    padding-right: 15px;
  }

   @include media (max-width $small-breakpoint) {
    display:none;
  }
}

#about {
  position: absolute;
  width: 100%;
  z-index: 20;
  display:none;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  height: 95%;
  top: 0;
}

#landing-title {
  max-width: 720px;
  margin: 0 auto;
  color: white;
}

#mobile-menu {
  float: right;
  margin-top: -10px;
  cursor: pointer;
  display: none;

  .fa-bars {
    padding: 10px;
  }

  @include media (max-width $small-breakpoint) {
    display:block;
  }
}

#mobile-navbar {
  position: fixed;
  background: #dddddd;
  bottom: 62px;
  width: 100%;
  display:none;
  border-bottom: 1px solid #C1C1C1;

  ul {
    padding: 20px 10px;
  }

  li {
    font-size: 16px;
    width: 100%;
    padding-bottom: 10px;
    float: none;
    padding-left: 0;
    display: inline-block;
  }

  a {
    float: right;
  }
}

  #mobile-navbar.open { 
    display: block; 
  }


