$animation-duration: 0.4s;

.nav-trigger {
	position: fixed;
	right: 25px;
	top: 25px;
	z-index: 10;
	text-indent: -9999px;

	span,
	span:before,
	span:after {
		@include transition(all 200ms ease-in-out);
		cursor: pointer;
	  border-radius: 1px;
	  height: 5px;
	  width: 35px;
	  background: white;
	  position: absolute;
	  display: block;
	  content: '';
	}

	span:before { top: -10px; }
	span:after { bottom: -10px; }


	&.active {
		span {
			background-color: transparent;
			&:before,
			&:after {
				top: 0;
			}

			&:before {
				@include transform(rotate(45deg));
			}

			&:after {
				@include transform(rotate(-45deg));
			}
		}
	}
}

/* --------------------------------

xnavigation

-------------------------------- */

nav{
	@include outer-container(100%);
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	height: 100%;
	overflow-y: auto;
	background-color: black;

	width: 70%;

	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	@include transform(translateX(100%));
	@include transition(transform $animation-duration 0s, box-shadow 0s $animation-duration); // see partials > _variables.scss

	&.is-visible {
		@include transform(translateX(0));
		-webkit-overflow-scrolling: touch;
		box-shadow: -4px 0 30px rgba(#000, .2);
		@include transition(transform $animation-duration 0s, box-shadow 0s 0s);
	}
}

/* --------------------------------

xshadow layer

-------------------------------- */
.base-overlay {
	/* shadow layer visible when navigation is open */
	@include user-select(none);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $background-color;
	visibility: hidden;
	opacity: 0;
}

.overlay {
	@extend .base-overlay;
	@include backface-visibility(hidden);
	@include transition(opacity $animation-duration 0s, visibility 0s $animation-duration);

	&.is-visible {
		opacity: 1;
		visibility: visible;
		z-index: 4;
		@include transition(opacity $animation-duration 0s, visibility 0s 0s);
	}
}

.alt-overlay {
  @extend .base-overlay;
  position: absolute;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
