main.profile {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: $bg-color;

  .nav-trigger {
    @include media(max-width $small-breakpoint) {
      top: 25px;
      right: 30px;
    }

    span {
      background-color: #fff;
    }
  }
}

.swiper-container{
  height: 100%;
  width: 100%;
}

.section {
  @include fill-parent();
  border: em(25) solid $bg-color;
  background-color: $bg-color;
  overflow: hidden; // This hides the slides behind
  max-height: 100%;

  @include media(max-width $small-breakpoint) {
    border-width: em(15);
  }

  &.swiper-slide-active {
    position: relative;
    z-index: 3;
  }
}

.two-up {
  @include fill-parent();
  @include span-columns(6);
  position: relative;
  height: 100%;

  @include media(max-width $small-breakpoint) {
    @include span-columns(12);
  }

  &#left {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media(max-width $small-breakpoint) {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  &#right {
    @include omega();
    float: right; // Prevents FOUC since the columns naturally float left
    background-color: $inset-color;
  }

  .alt-overlay {
    @include media(max-width $small-breakpoint) {
      z-index: 2;
    }
  }
}

.two-up-container {
  @include pad(20%);
  position: relative;
  height: 100%;

  @include media(max-width $small-breakpoint) {
    @include pad(10px);
    position: absolute;
    height: auto;
    z-index: 3;
    bottom: em(50);
  }

  h2 {
    @include z-index(20);
    text-transform: uppercase;
    text-align: center;
  }

  p,
  blockquote {
    position: relative;
    z-index: 2;
    @include vertical-align(relative, 30%);
    @include media(max-width $small-breakpoint) {
      @include vertical-align(relative, 0);
    }
  }

  p {
    margin-bottom: em(30);
  }
}

.slide-controls {
  position: absolute;
  right: 25px;
  bottom: 75px;

  @include media(max-width $small-breakpoint) {
    right: 10px;
    bottom: 10px;
  }
}

.slide-control {
  @include z-index(10);
  color: white;
  font-size: em(20);
  background-color: #000;
  text-align: center;
  width: 25px;

  &:hover,
  &:focus,
  &:visited {
    color: white;
  }

  &.lede {
    display: block;
    margin: 0 auto;
    bottom: em(100);
    @include media(max-width $small-breakpoint) {
      position: absolute;
      bottom: em(10);
      left: 50%;
      right: 50%;
    }
  }

  &.fa-arrow-up {
    margin-right: em(20);
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.large-display {
  @include pad(10% 28% 30%);
  position: relative;
  height: 100%;
  background-color: $inset-color;


  @include media(max-width $small-breakpoint) {
    @include pad(10px);
  }

  &.image-cover {
    @include pad(20% 28% 30%);
    background-size: cover;
    background-position: center;

    @include media(max-width $small-breakpoint) {
      @include pad(10px);
    }

    /* Transitions are optional for bLazy. I've decided to not use
       them but keep the scss just in case it ends up being a request
       ---------------------------------------------------------
      @include transition(opacity 100ms ease-in-out);

      opacity: 0;

      &.b-loaded {
        opacity: 1;
      }
    */
  }

  .large-display-container { // this should be determined per slide
    @include media(max-width $small-breakpoint) {
      position: absolute;
      bottom: em(20);
    }
  }

  .subhed {
    position: relative;
    font-family: $serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: em(60);

    @include media(max-width $small-breakpoint) {
      left: em(75);
      margin-bottom: em(50);
    }

    &::before {
      content: url('/static/images/year-tail.png');
      position: absolute;
      right: 103%; // HACK
    }
  }

  p,
  blockquote {
    position: relative;
    z-index: 2;
    margin-bottom: em(20);
  }
}

.button-group {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include z-index(20);

  a {
    @include transition(all 0.5s ease);
    @include flex(2);
    padding: 10px 0px;
    border: 1px solid white;
    text-align: center;
    color: white;

    &:hover {
      background-color: white;
      color: $bg-color;
    }
  }
}
