.profile {
  @include pad();
  @include fill-parent();

  background-color: #000;
  color: #fff;

  .nav-trigger span {
    background-color: #fff;
  }
}

.two-up {
  @include span-columns(6);
  height: 100%;

  &#left {
    background-size: cover;
    background-position: center;
  }

  &#right {
    background-color: #151414;
  }
}

.two-up-container {
  @include pad(20%);
  position: relative;
  height: 100%;

  p,
  blockquote {
    @include vertical-align(relative, 30%);
  }
}

.slide-control {
  bottom: 10%;
  position: absolute;
  left: 50%;
  right: 50%;

  color: white;
  &:hover,
  &:focus,
  &:visited {
    color: white;
  }
}
