$inset-color: #151414;
$bg-color: #000;

.profile {
  @include fill-parent();
  color: #fff;

  .nav-trigger span {
    background-color: #fff;
  }
}

.section {
  border: em(25) solid $bg-color;
  background-color: $bg-color;
  overflow: hidden;
}

.two-up {
  @include span-columns(6);
  height: 100%;

  &#left {
    background-size: cover;
    background-position: center;
  }

  &#right {
    background-color: $inset-color;
  }
}

.two-up-container {
  @include pad(20%);
  position: relative;
  height: 100%;

  p,
  blockquote {
    @include vertical-align(relative, 30%);
  }
}

.slide-control {
  bottom: 10%;
  position: absolute;
  left: 50%;
  right: 50%;

  color: white;
  &:hover,
  &:focus,
  &:visited {
    color: white;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.large-display {
  @include pad(10% 20% 30%);
  position: relative;
  height: 100%;
  background-color: $inset-color;

  .subhed {
    font-family: $serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: em(60);

    &::before {
      content: url('/static/images/year-tail.png');
      position: absolute;
      right: 81%;
    }
  }

  p {
    margin-bottom: em(20);
  }
}
