.sidebar-container {
	display: none;
    max-width: 585px;
    width: 90%;
    box-shadow: -3px 0 12px -3px rgba(25,25,35,0.06),inset 1px 0 0 #e2e2e2;
    position: fixed;
    height: auto;
    z-index: 1000000130;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #fff;
    padding: 0;
    overflow: visible !important;
}

.sidebar-controls {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 1px 0.25em 0 rgba(0,0,0,0.05);
    position: absolute;
    width: 25px;
    top: 20px;
    left: -24px;
    background-color: #fff;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #e2e2e2;
    color: #999;
    cursor: pointer;
}

.close-sidebar-button {
	position: relative;
    transition: background-color 0.2s ease-in;
    border-radius: 50%;
    background-clip: padding-box;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.close {
	padding: 4px 5px;
}

.sidebar-content {  
    font-family: $antenna-reg;
    height: 100%;
    padding-top: 50px;
    padding-left: 45px;
    padding-right: 38px;
    margin-top: -20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    p {
        font-size: 0.9em;

        @include media (max-width $small-breakpoint) {
            font-size: 0.75em;
        }

    }
}
.sidebar {
	background-color: rgba(255, 4, 4, 0.29);
    cursor:pointer;
}