h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}

body {
  font-family: $serif;
  font-size: 2.6vh;
}

article > p,
aside.inline-asset > p {
  // Thanks Medium
  font-size: $base-font;
  line-height: $line-height;
  margin-top: $margin-top;
  letter-spacing: $letter-spacing;

  @include media(max-width $small-breakpoint) {
    font-size: 18px;
    margin-top: 26px;
  }
}

aside > section {
  margin-top: $margin-top;
  font-family: $sans-serif;
  padding: 5px;
  background-color: lightgray;
}

.dropcap {
  font-family: $sans-serif;
  padding: 0 5px 0 0 !important;
  display: inline-block;
}

blockquote {
  font-family: $sans-serif;
  border-left: 0;
  margin: 0 0 1.25em;
  padding: 0;
  color: inherit;
}

.profile {
  font-family: $sans-serif;
}
