<!-- Begin Hearst analytics -->
<script type="text/javascript">
    var omni_channelPath = "News :: Special Projects";
    var omni_title = "Pillars Among the Ruins: Outliving AIDS (Working Title)";
    var omni_className = "channel";
    var omni_publicationDate = "2015-12-08 00:01:00";
    var omni_authorName = "By Erin AllDay and a Billion others";
    var omni_authorTitle = "San Francisco Chronicle staff";
</script>
<script type="text/javascript" src="//nexus.ensighten.com/hearst/news-3p/Bootstrap.js"></script>
<!-- End Hearst analytics —>
