<section class="two-up" id="left" data-src="{{ slide.image_url }}" style="background-image: url(//s3-us-west-1.amazonaws.com/projects.sfchronicle.com/media/holder.jpg); {{ slide.custom_css|safe }}"></section>

<!-- Fallback for non JavaScript browsers -->
<noscript><section class="two-up noscript" id="left" style="background-image: url({{ slide.image_url }}); {{ slide.custom_css|safe }}"></section></noscript>

<section class="two-up" id="right">
    <div class="two-up-container">
        {{ slide.body|safe }}
        {% if slide.is_lede %}
            <h1>{{ profile.name }}</h1>
                <p>{% if profile.body %}{{ profile.body }}{% else %}Lorem ipsum dolor sit amet, consectetur adipisicing elit.{% endif %}</p>
                <section class="button-group">
                    <a href="#" data-featherlight="#video-modal" title="Play {{profile.name}}'s video vignette">
                        <i class="fa fa-play"></i> Watch
                    </a>

                    <a href="#" id="start-profile" title="Proceed through {{profile.name}}'s profile">
                        <i class="fa fa-arrow-down"></i> Read
                    </a>
                </section>

            <!-- <a href="#"><img src="http://placehold.it/300x250" alt="" class="banner-ad"></a> -->
        {% elif slide.is_end %}
        <div class="end-slide">
            <h1>{{ profile.name }}</h1>
            <section class="button-group">
                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fliving-with-aids%2F{{ profile.slug }}&text={{ profile.twitter }}&via=sfchronicle&hashtags=survivingAIDS" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//projects.sfchronicle.com%2F2016%2Fliving-with-aids%2F{{ profile.slug }}" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                <a href="mailto:?subject=Last Men Standing – A San Francisco Chronicle special report.&body=http://projects.sfchronicle.com/2016/living-with-aids" title="Share via Email"><i class="fa fa-envelope"></i></a>
            </section>
            <section class="button-group">
                <a href="{{ url_for('profiles_view') }}" title="Their Stories" style="margin-top: 20px;"><p style="margin:5px 0">Meet the other men</p></a>
            </section>
        </div>

            <!-- <a href="#"><img src="http://placehold.it/300x100" alt="" class="banner-ad"></a> -->
        {% endif %}
    </div>
    {% if not slide.is_end and not slide.is_lede %}
    {% include 'slides/_controls.html' %}
    {% endif %}
    <div class="alt-overlay" unselectable="on"></div>
</section>
{% include 'components/menu.html' %}
