<section class="two-up" id="left" data-src="{{ slide.image_url }}" style="background-image: url({{ url_for('static', filename='images/holder.jpg') }}); {{ slide.custom_css|safe }}"></section>
<!-- Fallback for non JavaScript browsers -->
<noscript><section class="two-up noscript" id="left" style="background-image: url({{ slide.image_url }}); {{ slide.custom_css|safe }}"></section></noscript>
<section class="two-up" id="right">
    <div class="two-up-container">
        {{ slide.body|safe }}
        {% if slide.is_lede %}
            <h2>{{ profile.name }}</h2>
            <section class="button-group">
                <a href="#" data-featherlight="#video-modal">
                    Watch the movie
                </a>
                <a href="#">
                    Explore their story
                </a>
            </section>
        {% endif %}
    </div>
    {% include 'slides/_controls.html' %}
    <div class="alt-overlay" unselectable="on"></div>
    <iframe class="lightbox" id="video-modal" src="https://player.vimeo.com/video/140115987?color=ffffff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
