<p>When he was 12 or 13, Harry Breaux got in trouble at school for trying to perform oral sex on another boy in his class. It was the first clear sign his parents had that their son was gay, and their reaction was swift and firm — they sent him to military school.</p>

<p>
Breaux thrived under the structure of daily military life. He did well in school and sports and was popular with students and teachers alike. He pushed back all thoughts about other boys. No one knew he was gay, and he knew of no other boys who were gay.</p>

<p>
He struggled after graduation without the protective umbrella of military organization. At Tulane University, he started drinking heavily, and he finally flunked out after failing in business and engineering studies. The draft was pending and Breaux thought to get ahead of it and apply for an officer commission. A routine physical found a mild kidney problem that he was told would prevent him from becoming an officer, but still allow him to serve on the front lines.</p>

<p>
Breaux was upset and furious at the results, and he demanded back his enlistment form.</p>

<p>
“I remember it was question No. 30. It said ‘homosexual tendencies,’” Breaux said. “The first time, I said no. This time I changed it.”</p>

<p>
He handed the form back to the recruiter, who asked if he was sure that’s how he wanted to answer the question. Breaux was sure. “That was the end of my military career,” he said.</p>

<p>
He started living more openly then. He began a theater program at the University of Utah in Salt Lake City, and by the ‘70s he was a full-fledged gay hippie, living on a cooperative compound he and a few friends founded on a rundown farm in Oregon. He’d spend long stretches in San Francisco, where the gay community was thriving under the political inspiration of Harvey Milk. The Castro was just blossoming as the heart of the city’s gay culture, and Polk Street was a lively hub of gay bars and clubs.</p>

<p>
For men who still largely had to keep their proclivities to themselves in most other parts of the country, San Francisco was a comfort like no place else. In San Francisco, Breaux could hold hands in public with a lover or boyfriend. He could openly admire the shirtless boys sprawled on “Hyperion Beach,” the steps of the Castro Hyperion Bank branch that caught the best afternoon sun.</p>

<p>
“You could be queer in the Castro and not be looking over your shoulder all the time,” he said.</p>

<p>
AIDS changed everything.</p>

<p>
Like many habitants and regular visitors to the Castro — which by the 1980s had fully replaced Polk Street as the LGBT home — the horror of AIDS dawned slowly on Breaux. He’d hear of friends here and there who weren’t feeling well. He saw the posters in the window of Walgreens warning of the new “gay cancer,” which arrived with purple lesions that could pockmark a man’s chest, arms, legs and face.</p>

<p>
And then AIDS began hitting close to home. Friends got sick and died. In 1987, Breaux was walking down Castro, probably a day or two before the Pride parade, when he ran into a friend from high school. They grinned and embraced, each surprised to see the other in San Francisco, to realize they hadn’t been quite as alone as they’d thought at the military school. Breaux’s friend was living in Sebastopol now with a boyfriend, raising champion irises. They exchanged numbers and made plans to get caught up later, when they had more time.</p>

<p>
A year later, Breaux went to visit the AIDS Quilt for the first time. One panel caught his eye — a simple block with a single beautiful, vibrant iris. His friend had died before they could ever reconnect.</p>

<p>
Breaux got his own HIV diagnosis earlier than most, in 1984. He’d volunteered for several years in the 1970s in a study of gay men for a hepatitis B vaccine. Researchers had collected blood from Breaux and hundreds of other San Francisco men, and when scientists identified the virus that was causing AIDS, they went back to that blood to test it and see who was infected and for how long. Breaux learned that his blood had been virus-free in 1979, but infected by 1981. He wasn’t surprised.</p>

<p>
“To say I’d been with 1,000 men by then, I don’t think that is outrageous. It may only be 600,” he said, with a touch of pride. Breaux, like so many 20- and 30-something men at the time, dated widely and voraciously. He was a regular customer of the bathhouses, where men could have sex with half a dozen partners or more in a night.</p>

<p>
“During the ‘70s, there was the free clinic on Fourth Street. If you got gonorrhea at the baths or whatever, you went there. You might even meet somebody in the waiting room,” Breaux said.</p>

<p>
The bathhouses were undoubtedly a source of widespread infection in the earliest days of the AIDS epidemic, before San Francisco shut them down. But they were also a cultural touchstone for the gay community that had been closeted and quieted for so long.</p>

<p>
 “It was a breakthrough for most of us, to get out of the taboos. I was brought up in that thinking, that a homosexual in the closet was bad, even if you weren’t doing anything. When I got out here and broke out of that, it was like a kid in a candy store. I thought, ‘This is possible?’ Not only possible, but I couldn’t get enough of it.”</p>

 <p>
 Breaux remained healthy as his friends got sick and died. He volunteered with the Shanti Project as an emotional support counselor, sitting with men who were frail and bed-bound, who were dying in hospitals or in their own homes. In a two-week period in the late 1980s, one client lost a lover, another client was hospitalized with pneumonia, close to death, and Breaux’s roommate became ill and required his aid.</p>

 <p>
 In the early 1990s, it got to be too much. Breaux can’t say when or why it happened, but he got so overwhelmed that he picked up and left San Francisco, moving first to another commune on the Central California coast, and then to the Peninsula.</p>

 <p>
 “I kind of just buried it. I didn’t want to hear the word ‘AIDS’ again,” he said. “I got out of everything having to do with AIDS and I barely went to the Castro anymore.”</p>

 <p>
 He stayed away even after he finally got sick himself, in 1996, smacked with three infections at once that left him feverish and delirious. A week passed in the hospital with him barely aware of his surroundings. After three weeks he’d recovered enough to be released, and he went to Louisiana, his home state, to stay with his sister for a while and recuperate. He’d lost close to 60 pounds.</p>

 <p>
 “I’ve seen pictures. I looked like a walking corpse,” he said. Indeed, his face was gaunt, his frame sinewy like strings pulled tight on a guitar. He’d lost his muscular, tight figure. He looked like he’d aged a decade.</p>

 <p>
 Breaux’s immune system was gutted. He had a formal AIDS diagnosis. But his body had held out just long enough, and he got out of the hospital as the first drug cocktails that could truly fight HIV were becoming available. Breaux, who had never been on any of the experimental drugs to fight HIV and AIDS, was suddenly on a strict daily regimen. He was going to live, it seemed.</p>

 <p>
 Except living was complicated, and the life he’d left in San Francisco was largely gone. So many friends had died and the Castro didn’t feel like home anymore. Over the next decade or two, he hopped around the Bay Area — living for a while in Oakland, in the South Bay, sometimes in San Francisco. His health was returning but he realizes now, in hindsight, that he was looking for “a nice place to live, and then I wait to die.”</p>

 <p>
 Three or four years ago it began to dawn on him that he was starving for people and affection and simple human interaction. So he’d walk down the street for a deli sandwich instead of eating lunch at home. When friends invited him to a movie, he accepted. And he started looking for other survivors. Surely there were other men his age, of his generation, who were trying to live again.</p>

 <p>
 He did find them, some already clustering in informal survivor support groups, meeting for weekend getaways or weekly potlucks. He joined The Billys, a social club of gay men, open to all ages but dominated by the older guys. Discovering the remains of his generation has been bittersweet. It’s not always easy to exchange their stories, to talk about their shared history, but it’s a relief to have people to share it with at all.</p>

 <p>
 “In the ‘90s we all kind of went into isolation. We were in shock. You lost your friends and all of a sudden you’re alone. Coming out of that is not easy,” Breaux said.</p>

 <p>
 Now, he said, “I’m living this life, I’m in it, but I’m not of it. The people that have shared that with me are dead. Those people who went through the university of the ‘70s, they’re not here. I’m running into what I call the leftovers. People like me, who are starting the gatherings, the groups, the potlucks.”</p>

 <p>
 He’s frustrated by the loss not just of people, but of ideology. His generation was on its way toward fighting for total equality for gay men and everyone else. The recent successes in marriage equality are fine, but his generation was fighting for better than fine, for more than just “assimilation,” he said. That fight was derailed by AIDS.</p>

 <p>
 “Something that we were trying to say and bring forth in the ‘70s got completely repressed in the ‘80s. It’s come back through the same sex marriage thing, which is not exactly what we were going for. But that’s how it shows up now,” Breaux said. “Most of us my age, we’re like, wait, we went out and protested and screamed and yelled so you could be assimilated? We screamed and yelled for freedom.”</p>

 <p>
 Breaux is dating a man he met at one of a survivor gathering, someone who’s also HIV-positive and carries his own baggage. Breaux has a part-time job to supplement the disability he’s been on since the late 1990s, and he stays active with volunteer work. Several times a week he stands at the corner of Castro and Market streets handing out maps to tourists and chatting them up about the history of his beloved neighborhood, where he can no longer afford to live and rarely visits socially.</p>

 <p>
 His current home, where he’s been for a little over a year, is a studio he sublets from the renters above him. If the landlords raise the rent — and there’s no reason to think they won’t — then the people upstairs from him will have to move, and so will Breaux. He’s already had friends offer to put him up, he knows he won’t be out on the street, but the stress of his living situation is clear.</p>

 <p>
 Breaux is still learning how to re-engage in his world. Last year he barely roused the energy to sit on a bus in the Gay Pride Parade; this year he dressed up in an elaborate costume from The Rocky Horror Picture Show and led a charge of other long-term survivors. Breaux was recreating the last parade he’d marched in, in 1990, before he dropped out of San Francisco and the Castro and the culture of AIDS. He’d dressed up for that parade too, singing and dancing all along the route, his performance captured in a photo that ran on the front page of the Bay Area Reporter. This year his performance may have been quieter, subtler, but he was teary-eyed off and on through the morning as he got ready for the parade and later embraced the handful of old friends who were marching too.</p>

 <p>
 Breaux doesn’t know why he survived and others didn’t. But he feels a compulsion now to share his history with anyone who will listen. And he’s finding that people are, finally, asking him to talk.</p>

 <p>
 On Memorial Day this year, he came upon a quote that stuck with him. The real heroes are the ones that didn’t come back, it said.</p>

 <p>
 It’s too much, Breaux said, “for me to be any kind of spokesperson for that period, for those men, because I was just this little queer that hung out on the sides having a good time. I’m nothing special here, except that I lived.”</p>

 <p>
 </p>
