{% extends 'base.html' %}

{% block title %}Last Men Standing: About the project{% endblock %}

{% block head %}
    <meta name="__sync_contentCategory" content="meterA">
    <meta name="description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on.">
    <!-- Facebook Tags -->
    <meta property="og:url" content="http://www.projects.sfchronicle.com/2016/living-with-aids/profiles" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The forgotten survivors of AIDS" />
    <meta property="og:description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on." />
    <meta property="og:image" content="http://ww1.hdnux.com/photos/44/13/25/9483624/4/1200x1200.jpg" />
    <meta property="og:site_name" content="San Francisco Chronicle" />
    <meta property="fb:app_id" content="537896802938133"/>

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@sfchronicle" />

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "About - Last Men Standing";
        var omni_paywallSite = "1";
        var omni_className = "channel";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

{% endblock %}

{% block content %}
<div id="documentary">
    <div class="doc-container">
        <div class='embed-container'>
            <iframe src='http://player.vimeo.com/video/157370436?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <h1>About This Project</h1>
        <p>The discovery of drugs to treat HIV and prevent AIDS in the mid-1990s altered the course of an epidemic almost overnight, revoking a death sentence for tens of thousands of people. But survival brought new challenges, and the survivors themselves largely have been forgotten. Reporter Erin Allday interviewed more than 50 men who have lived with HIV/AIDS for half of their lives, as well as doctors, activists, city officials and LGBT allies. Allday, along with photographers Erin Brethauer and Tim Hussin, spent 10 months focusing on eight survivors for this story. Their experiences reflect struggles taking place across San Francisco and the country as survivors continue fighting for their lives.</p>
        <p>Written by Erin Allday | Designed by Michael Grant &amp; Lucio Villa | Developed by Aaron Williams &amp; Lucio Villa | Photography by Erin Brethauer, Tim Hussin, Leah Millis &amp; Russell Yip | Video & Film by Erin Brethauer &amp; Tim Hussin</p>
    </div>
</div> 


{% include 'components/menu.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
    
</script>
{% endblock %}
