{% extends 'base.html' %}

{% block title %}About - Last Men Standing | SF Chronicle{% endblock %}

{% block head %}

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "About - Last Men Standing";
        var omni_className = "article";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

{% endblock %}

{% block content %}
<main id="about-page" class="landing">
  <div class="about-container">
      <header id="about-title">
          <a href="{{ url_for('index') }}"><h1>About This Project</h1></a><br>
          <p class="byline">Written by <a href="">Erin Allday</a> | Designed by <a href="">Michael Grant</a> | Developed by <a href="">Aaron Williams</a> &amp; <a href="">Lucio Villa</a> | Photography by <a href="">Russell Yip</a> | Videography by <a href="">Erin Brethauer</a> and <a href="">Tim Hussin</a>
      </header>
  </div>
{% include 'components/menu.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
    
</script>
{% endblock %}
