{% extends 'base.html' %}

{% block title %}About - Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main id="about-page" class="landing">
    <section class="swiper-container">
        <div class="swiper-wrapper">

            <section class="section swiper-slide">
                <section class="large-display">
                    <div class="about-container">
                        <header id="about-title">
                            <a href="{{ url_for('index') }}"><h1>About This Project</h1></a><br>
                            <p class="byline">Written by <a href="">Erin Allday</a> | Edited by <a href="">Jim Trotter</a> | Designed by <a href="">Michael Grant</a> | Developed by <a href="">Aaron Williams</a> &amp; <a href="">Lucio Villa</a> | Photography by <a href="">Russell Yip</a> | Videography by <a href="">Erin Brethauer</a> and <a href="">Tim Hussin</a> | Managed by <a href="">Kristen Go</a> &amp; <a href="">Judy Walgren</a></p>
                        </header>
                    </div>
                </section>
            </section>

        </div>
    </section>
{% include 'components/menu.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
    
</script>
{% endblock %}
