<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=2">
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- CHANGE IN PRODUCTION -->
    <script src="{{ url_for('static', filename='scripts/modernizr-dev.js') }}"></script>
    <!-- CHANGE IN PRODUCTION -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    {% if not config.DEBUG %}{% include 'hearst/analytics.html' %}{% endif %}
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}

    {% if config.DEBUG %}
    <script src="{{ url_for('static', filename='bower_components/tota11y/build/tota11y.js') }}"></script>
    {% endif %}
    {% assets filters="uglifyjs", output="scripts/vendor.%(version)s.js",
              "bower_components/jquery/dist/jquery.js",
              "bower_components/fastclick/lib/fastclick.js",
              "bower_components/jquery_lazyload/jquery.lazyload.js",
              "bower_components/d3/d3.js",
              "bower_components/d4/d4.js",
              "bower_components/queue-async/queue.js",
              "bower_components/webfontloader/webfontloader.js",
              "bower_components/dropcap.js/dropcap.js",
              "bower_components/stepper/js/thirdparty/stepper.js",
              "bower_components/Swiper/dist/js/swiper.jquery.js",
              "bower_components/jquery.fitvids/jquery.fitvids.js",
              "bower_components/scotchPanels/dist/scotchPanels.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets filters="uglifyjs", output="scripts/main.%(version)s.js", "scripts/main.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        WebFont.load({
          google: {
            families: ['Merriweather', 'Lato']
          }
        });
    </script>
    {% block javascript %}{% endblock %}

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
</body>
</html>
