{% extends 'base.html' %}

{% block title %}Documentary - Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div id="documentary">
    <div class="doc-container">
        <div class='embed-container'>
            <iframe src='http://player.vimeo.com/video/141968771?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <p>Last Men Standing, the San Francisco Chronicle’s first feature-length documentary, will be released in the spring of 2016. The 65-minute film, by Erin Brethauer and Tim Hussin, tells the stories of eight long-term AIDS survivors and the many challenges facing them as they live out lives they never expected to have.</p>
    </div>
</div> 
{% include 'components/menu.html' %}
{% endblock %}   
{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}