{% extends 'base.html' %}

{% block title %}Documentary - Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
	<!-- Begin Hearst analytics -->
	<script type="text/javascript">
	    var omni_channelPath = "News :: Special Projects";
	    var omni_title = "Documentary - Last Men Standing";
	    var omni_className = "channel";
	    var omni_publicationDate = "2016-02-28 00:01:00";
	    var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
	    var omni_authorTitle = "San Francisco Chronicle staff";
	</script>
	<!-- Hearst analytics: Ensighten -->
	<script type="text/javascript">
	  (function(e) {
	    var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
	    if (e.cookie.indexOf("nsghtn") > -1) {
	      if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
	      console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
	      } else if(e.cookie.indexOf("nsghtn=test") > -1) {
	      console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
	      } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
	      console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
	      }
	    }
	    e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
	  })(document);
	</script>
	<!-- End Hearst analytics: Ensighten -->
	<!-- End Hearst analytics -->

{% endblock %}

{% block content %}

<div id="documentary">
    <div class="doc-container">
        <div class='embed-container'>
            <iframe src='http://player.vimeo.com/video/141968771?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <p>Last Men Standing, the San Francisco Chronicle’s first feature-length documentary, will be released in the spring of 2016. The 65-minute film, by Erin Brethauer and Tim Hussin, tells the stories of eight long-term AIDS survivors and the many challenges facing them as they live out lives they never expected to have.</p>
    </div>
</div> 
{% include 'components/menu.html' %}
{% endblock %}   
{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}