{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmain.r6.14.1.4.css">
<link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmodules.r6.14.1.4.css"> -->
{% endblock %}

{% block content %}
<main class="container" id="home">
    <header>
        <!-- <h1>Pillars Among the Ruins</h1> -->
    </header>
    <div class="inner">
        {% include 'components/nav.html' %}
        <section>
            <p>
                <span id="dropcap"><span id="letter">L</span></span>
                <span id="sentence">orem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo ipsa ullam numquam eligendi, praesentium vel possimus autem, modi repellat libero impedit! Tempora exercitationem, magni numquam. Accusamus, quaerat eius voluptatem.</span>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatibus exercitationem necessitatibus, impedit, non animi consequatur placeat quidem quis quos dolores accusantium quisquam eligendi. At doloribus aspernatur tempore. Facilis, ipsum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis similique perspiciatis libero culpa, eligendi corrupti, non minus officiis fuga error, id vero deserunt omnis dolorum itaque enim, modi magnam ipsum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod vero numquam rem, assumenda necessitatibus atque aspernatur eos eligendi ipsam ut quam voluptatibus ullam laboriosam error doloremque non beatae officia?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non saepe obcaecati, sint sapiente aliquam aperiam neque asperiores reiciendis rerum earum, nihil dolores. Doloribus sunt cupiditate nemo praesentium, fuga aliquam, officia!</p>
        </section>
    </div>
</main>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
