{% extends 'base.html' %}

{% block title %}Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "Last Men Standing";
        var omni_className = "channel";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

{% endblock %}

{% block content %}
<main class="landing">
    {% include 'components/logo.html' %}
    <section class="swiper-container">
        <div class="swiper-wrapper">

            <section class="section swiper-slide">
                <section class="large-display">
                    <div class="landing-container">
                        <header id="landing-title">
                            <h1>Last Men Standing</h1>
                            <p>They outlived an epidemic, but San Francisco’s AIDS survivors are still fighting for their lives.</p>
                            <section class="button-group" style="width:100%; margin:20px auto 0">
                                <a href="{{ url_for('mainbar_view') }}"  title="The story of AIDS in San Francisco’s Castro is one of a nearly forgotten past." style="margin: 0 15px;">The Story
                                </a>
                                <a href="{{ url_for('profiles_view') }}" title="Their resiliance, remarkable. Their stories, hopeful. Meet these survivors." style="margin: 0 15px;">The Men
                                </a>
                                <a href="{{ url_for('doc_view') }}" title="Watch the in-depth 30-minute film that tells the stories of these survivors." style="margin: 0 15px;">The Film
                                </a>
                            </section>
                        </header>
                    </div>
                </section>
            </section>
        </div>
    </section>
    <div class="alt-overlay" unselectable="on"></div>
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
        App.bigvideo();

    });
    
</script>
{% endblock %}
