{% extends 'base.html' %}

{% block title %}Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="landing">
    {% include 'components/logo.html' %}
    <section class="swiper-container">
        <div class="swiper-wrapper">

            <section class="section swiper-slide">
                <section class="large-display">
                    <div class="landing-container">
                        <header id="landing-title">
                            <h1>Last Men Standing</h1>
                            <p>They outlived an epidemic, but San Francisco’s AIDS survivors are still fighting for their lives.</p>
                            <section class="button-group" style="width:100%; margin:20px auto 0">
                                <a href="{{ url_for('mainbar_view') }}"  title="The story of AIDS in San Francisco’s Castro is one of a nearly forgotten past." style="margin: 0 15px;">The Story
                                </a>
                                <a href="{{ url_for('profiles_view') }}" title="Their resiliance, remarkable. Their stories, hopeful. Meet these survivors." style="margin: 0 15px;">The Men
                                </a>
                                <a href="{{ url_for('doc_view') }}" title="Watch the in-depth 30-minute film that tells the stories of these survivors." style="margin: 0 15px;">The Film
                                </a>
                            </section>
                        </header>
                    </div>
                </section>
            </section>
        </div>
    </section>
    <div class="alt-overlay" unselectable="on"></div>
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
        App.bigvideo();

    });
    
</script>
{% endblock %}
