{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main>
    {% include 'components/nav.html' %}
    {% include 'components/header.html' %}
    <article>
        {% include 'components/_storytext.html' %}
        <ul>
            {% for p in profiles %}
            <li>
                <a href="/{{ p.slug }}" data-url="{{ p.image_url }}" tabindex="10">
                    {{ p.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </article>
    {% include 'components/footer.html' %}
</main>
{% endblock %}
