{% extends 'base.html' %}

{% block title %}Last Men Standing: AIDS survivors still fighting for their lives{% endblock %}

{% block head %}
  <meta name="__sync_contentCategory" content="meterA">
   <link rel="standout" href="{{ url_for('mainbar_view') }}" />
   <meta name="description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on.">
    <!-- Facebook Tags -->
    <meta property="og:url" content="http://www.projects.sfchronicle.com/2016/living-with-aids/story" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The forgotten survivors of AIDS" />
    <meta property="og:description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on." />
    <meta property="og:image" content=" http://ww2.hdnux.com/photos/44/13/35/9484145/4/1200x1200.jpg" />
    <meta property="og:site_name" content="San Francisco Chronicle" />
    <meta property="fb:app_id" content="537896802938133"/>

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sfchronicle" />

  <!-- Video JS IE Support -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
   
    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "The Story - Last Men Standing";
        var omni_className = "article";
        var omni_paywallSite = "1";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

{% endblock %}

{% block content %}
<main class="mainbar">
    {% include 'components/header.html' %}
    <article id="mainbar">
        {% include 'components/_storytext.html' %}
    </article>
    {% include 'components/scroll_menu.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
  $('.slide-control-lede').on('click', function() {
    $('html, body').animate({
      scrollTop: $("#mainbar").offset().top + 20
      }, 300);
  });
</script> 
{% assets filters="uglifyjs", output="scripts/sidebars.%(version)s.js",
    "scripts/sidebars.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}