{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="mainbar">
    {# include 'components/header.html' #}
    <article>
        {% include 'components/_storytext.html' %}
    </article>
    {# include 'components/footer.html' #}
</main>
{% include 'components/nav.html' %}
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}
