{% extends 'base.html' %}

{% block title %}Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="mainbar">
    {% include 'components/mick_header.html' %}
    <article id="mainbar">
        {% include 'components/mick_text.html' %}
    </article>
    {% include 'components/scroll_menu.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
    $('link').click(function(){
        $('html, body').animate({
            scrollTop: $( $(this).attr('href') ).offset().top + 40
            }, 1000);
        return false;
    });
</script>
{% endblock %}