{% extends 'base.html' %}

{% block title %}Last Men Standing: {{ profile.name }}{% endblock %}

{% block head %}
    <meta name="__sync_contentCategory" content="meterA">
    <meta name="description" content="{{ profile.fb_description }}">
    <!-- Facebook Tags -->
    <meta property="og:url" content="http://www.projects.sfchronicle.com/2016/{{ profile.slug }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The forgotten survivors of AIDS" />
    <meta property="og:description" content="{{ profile.facebook }}" />
    <meta property="og:image" content="{{ profile.fb_img_url }}" />
    <meta property="og:site_name" content="San Francisco Chronicle" />
    <meta property="fb:app_id" content="537896802938133"/>

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sfchronicle" />

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "{{ profile.name }} - Last Men Standing";
        var omni_className = "article";
        var omni_paywallSite = "1";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

{% endblock %}



{% block content %}

<main class="profile fade-out" id="profile-fade">
    <section class="swiper-container">
        <div class="swiper-wrapper">
        {% for slide in slides %}
            <section class="section {% if slide.is_lede %}lede{% endif %} {% if slide.is_end %}is-end{% endif %} swiper-slide" data-hash="{{ loop.index }}" id="section{{ loop.index }}">
            {% if slide.template == 'two_up' %}
                {% include 'slides/two-up.html' %}
            {% elif slide.template == 'large_display' %}
                {% include 'slides/large-display.html' %}
            {% elif slide.template == 'center_display' %}
                {% include 'slides/center.html' %}
            {% elif slide.is_video %}
                {% include 'slides/video.html' %}
            {% else %}
                {{ slide.body|safe }}
            {% endif %}
            </section>
        {% endfor %}
        </div>
    </section>

    <div class="video lightbox" id="video-modal">
      <div class="video-wrapper">
          <iframe src="https://player.vimeo.com/video/{{profile.vimeo_id}}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });

    $(function() {
     $('#profile-fade').removeClass('fade-out');
    });
</script>
{% endblock %}
