{% extends 'base.html' %}

{% block title %}The Men - Last Men Standing | SF Chronicle{% endblock %}

{% block head %}

    <meta name="description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on.">
    <!-- Facebook Tags -->
    <meta property="og:url" content="http://www.projects.sfchronicle.com/2016/living-with-aids/profiles" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The forgotten survivors of AIDS" />
    <meta property="og:description" content="Special Report: Eight men who had the remarkable luck to survive the AIDS epidemic, and the brutal misfortune to live on." />
    <meta property="og:image" content="http://ww1.hdnux.com/photos/44/13/25/9483624/4/1200x1200.jpg" />
    <meta property="og:site_name" content="San Francisco Chronicle" />
    <meta property="fb:app_id" content="537896802938133"/>

    <!-- Twitter Card Meta Data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@sfchronicle" />
    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "News :: Special Projects";
        var omni_title = "The Men - Last Men Standing";
        var omni_className = "channel";
        var omni_publicationDate = "2016-02-28 00:01:00";
        var omni_authorName = "Erin AllDay, Jim Trotter, Michael Grant, Aaron Williams, Lucio Villa, Russell Yipp, Erin Brethauer, Tim Hussin, Kristen Go,Judy Walgren, Nicole Fruge";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->
{% endblock %}

{% block content %}
<main class="landing">
    <a href="http://www.sfchronicle.com" alt="SF Chronicle">
		<div id="sf_logo">
			<img src="http://ww2.hdnux.com/photos/40/63/25/8598893/2/180x180.png">
		</div>
	</a>
    
    <nav id="nav" class="swiper-no-swiping is-visible">
        <div class="grid-items">
            
			<a href="{{ url_for('index') }}harry-breaux/" style="background-image: url(http://ww1.hdnux.com/photos/41/51/43/8820952/11/1457x1457.jpg);width:24.966%;" tabindex="10" class="grid-item b-loaded" title="Harry">
			<h2>Harry</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}harry-breaux/" style="background-image: url(http://ww1.hdnux.com/photos/41/51/43/8820952/11/1457x1457.jpg));" tabindex="10" class="grid-item" title="Harry"&gt;&lt;h2&gt;Harry&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}ralph-and-david/" style="background-image: url(http://ww3.hdnux.com/photos/41/51/43/8820958/7/1457x1457.jpg);width: 50%;background-position: 0 20%;" tabindex="10" class="grid-item b-loaded" title="Ralph &amp; David">
			<h2>Ralph &amp; David</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}ralph-and-david/" style="background-image: url(http://ww3.hdnux.com/photos/41/51/43/8820958/7/1457x1457.jpg));" tabindex="10" class="grid-item" title="Ralph &amp;amp; David"&gt;&lt;h2&gt;Ralph &amp;amp; David&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}ganymede/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/43/8820977/7/1457x1457.jpg);" tabindex="10" class="grid-item b-loaded" title="Ganymede">
			<h2>Ganymede</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}ganymede/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/43/8820977/7/1457x1457.jpg));" tabindex="10" class="grid-item" title="Ganymede"&gt;&lt;h2&gt;Ganymede&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}jesus-guillen/" style="background-image: url(http://ww4.hdnux.com/photos/41/51/43/8820959/13/1457x1457.jpg);" tabindex="10" class="grid-item b-loaded" title="Jesus">
			<h2>Jesus</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}jesus-guillen/" style="background-image: url(http://ww4.hdnux.com/photos/41/51/43/8820959/13/1457x1457.jpg));" tabindex="10" class="grid-item" title="Jesus"&gt;&lt;h2&gt;Jesus&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}mick-robinson/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/43/8820937/7/1457x1457.jpg);" tabindex="10" class="grid-item b-loaded" title="Mick">
			<h2>Mick</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}mick-robinson/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/43/8820937/7/1457x1457.jpg));" tabindex="10" class="grid-item" title="Mick"&gt;&lt;h2&gt;Mick&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}kevin-vandenbergh/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/42/8820917/7/1457x1457.jpg);" tabindex="10" class="grid-item b-loaded" title="Kevin">
			<h2>Kevin</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}kevin-vandenbergh/" style="background-image: url(http://ww2.hdnux.com/photos/41/51/42/8820917/7/1457x1457.jpg));" tabindex="10" class="grid-item" title="Kevin"&gt;&lt;h2&gt;Kevin&lt;/h2&gt;&lt;/a&gt;</noscript>

			<a href="{{ url_for('index') }}peter-greene/" style="background-image: url(http://ww4.hdnux.com/photos/41/51/43/8820935/13/1457x1457.jpg);" tabindex="10" class="grid-item b-loaded peter" title="Peter">
			<h2>Peter</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript>&lt;a href="{{ url_for('index') }}peter-greene/" style="background-image: url(http://ww4.hdnux.com/photos/41/51/43/8820935/13/1457x1457.jpg));" tabindex="10" class="grid-item peter" title="Peter"&gt;&lt;h2&gt;Peter&lt;/h2&gt;&lt;/a&gt;</noscript>
            
        </div>
    </nav>
 
</main>
{% include 'components/menu.html' %}
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
    
</script>
{% endblock %}
