{% extends 'base.html' %}

{% block title %}{{ profile.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="profile" id="{{ profile.slug }}">
    <section class="swiper-container">
        <div class="swiper-wrapper">
        {% for slide in slides %}
            <section class="section swiper-slide" data-hash="{{ loop.index }}" id="section{{ loop.index }}">
            {% if slide.template == 'two_up' %}
                {% include 'slides/two-up.html' %}
            {% elif slide.template == 'large_display' %}
                {% include 'slides/large-display.html' %}
            {% elif slide.is_video %}
                {% include 'slides/video.html' %}
            {% else %}
                {{ slide.body|safe }}
            {% endif %}
            </section>
        {% endfor %}
        </div>
    </section>
    {% include 'components/nav.html' %}
    {% include 'components/modal.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}
