{% extends 'base.html' %}

{% block title %}{{ profile.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="profile">
    {% for slide in slides %}
    <section>
        <section class="slide" id="slide-{{loop.index}}">
          <div class="arrow-container">
            <div class="arrow-down"><a href="#slide-{{loop.index + 1}}"><i class="fa fa-arrow-down"></i></a></div>
          </div>
          <article class="slide-container-outer bg-none">
            <section class="slide-container-inner">
              <section class="slide-content">
                <p>{{ slide.body }}</p>
              </section>
            </section>
          </article>
        </section>
    </section>
    {% endfor %}
    {% include 'components/nav.html' %}
</main>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}
