{% extends 'profile_base.html' %}

{% block title %}Ganymede{% endblock %}

{% block profile_image %}
    <!-- <img src="{{ url_for('static', filename='images/lighttest.9283.jpg') }}" alt=""> -->
    <div class="img-container" style="background-image: url({{ url_for('static', filename='images/lighttest.9283.jpg') }});"></div>
{% endblock %}

{% block profile_content %}
    <section class="profile-page">
        <h2>
            <span class="name">Ganymede</span>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam modi, quae esse sint explicabo ducimus ea laboriosam! Hic placeat iure maxime tempore accusantium. Commodi assumenda optio dignissimos delectus possimus deleniti!</p>
    </section>
{% endblock %}
