{% extends 'profile_base.html' %}

{% block title %}Profiles{% endblock %}

{% block profile_image %}
    <!-- <img src="{{ url_for('static', filename='images/lighttest.9283.jpg') }}" alt=""> -->
    <div class="img-container" style="background-image: url();"></div>
{% endblock %}

{% block profile_content %}
    <section>
        <ul class="character-list">
            <li>
                <h2>
                    <a href="/p/harry-breaux" data-url="{{ url_for('static', filename='images/lighttest.9033.jpg') }}" class="character-selection" tabindex="10">
                    Harry Breaux
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" data-url="{{ url_for('static', filename='images/lighttest.9036.jpg') }}" class="character-selection" tabindex="20">
                    John Clarke
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="/p/ganymede/" data-url="{{ url_for('static', filename='images/lighttest.9090.jpg') }}" class="character-selection" tabindex="30">
                    Ganymede
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" data-url="{{ url_for('static', filename='images/lighttest.9153.jpg') }}" class="character-selection" tabindex="40">
                    Jesus Guillen
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="/p/mick-robinson/" data-url="{{ url_for('static', filename='images/lighttest.9165.jpg') }}" class="character-selection" tabindex="50">
                    Mick Robinson
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#" data-url="{{ url_for('static', filename='images/lighttest.9283.jpg') }}" class="character-selection" tabindex="60">
                    David Spiher &amp; Ralph Thurlow
                    </a>
                </h2>
            </li>
            <li>
                    <h2>
                <a href="#" data-url="{{ url_for('static', filename='images/lighttest.9290.jpg') }}" class="character-selection" tabindex="70">
                    Kevin VandenBergh
                    </a>
                </h2>
            </li>
        </ul>
    </section>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}
