{% extends 'profile_base.html' %}

{% block title %}Profiles{% endblock %}

{% block profile_image %}
    <!-- THERE SHOULD BE A BETTER WAY TO SOLVE THIS -->
    <div class="img-container" style="background-image: url({{ url_for('static', filename='images/holder.jpg') }});" data-url="{{ p.image_url }}"></div>
{% endblock %}

{% block profile_content %}
    <section>
        <ul class="character-list">
        {% for p in profiles %}
            <li>
                <h2>
                    <a href="/p/{{ p.slug }}" data-url="{{ p.image_url }}" class="character-selection" tabindex="10">
                        {{ p.name }}
                    </a>
                </h2>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        App.nav();
        App.profileList();
    });
</script>
{% endblock %}
