/* ========================
   PROJECT STYLES
   ========================
*/
$transition-speed: 0.5s;
$border-style: 2em solid black;

.header-border {
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -10px; // puts the line a bit further down
        left: 0;
        background: linear-gradient(left, transparent 0%,#444 50%,transparent 100%);
        visibility: hidden;
        transform: scaleX(0);
        transition: all $transition-speed ease-in-out 0s;
    }
}

.border {
    border-top: $border-style;
    border-bottom: $border-style;
}

* {
  box-sizing: border-box;
}

body,
html {
     margin: 0;
     overflow-x: hidden;
}

img {
    width: 100%;
}

h2 {
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    position: relative;
}

p { font-size: 1.2em; }

main {
  @include outer-container;
  max-width: 100%;
  font-family: 'Georgia', serif;

  .hero { // profile page
    $mobile: new-breakpoint(max-width 824px 4);
    @include span-columns(6);

    @include media($mobile) {
      @include span-columns(4);
    }
    position: relative;
    height: 100vh !important;
    margin: 0;
    width: 50%;
  }
}

// MAIN BAR
#home {
  height: 100vh;

  header {
    height: 100vh;
    background-image: url(http://ww2.hdnux.com/photos/37/27/52/8223381/3/1500x1500.jpg);
    background-size: cover;
    filter: grayscale(1);

    h1 {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 4em;
      font-family: Antenna;
    }
  }

  .hero > .content {
    @include span-columns(5 of 6);
    @include shift(1);
  }

  #right-panel {
    position: fixed;
    right: 0;
    top: 50px;
  }
}

.profile-page {
    h2 {
        margin-bottom: 30px;
        .name {
            @extend .header-border;
            &:before {
                visibility: visible;
                transform: scaleX(1);
                width: 3em;
                left: 38%;
            }
        }
    }
}

.profile-copy {
    @include transform-translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    width: 100%;
    padding: 0 20%;
}

#hero-copy {
    @extend .border;
    border-right: $border-style;
    border-left: 1em solid black;
    text-align: center;

    .content {
        background-color: white;
        height: 100%;
        position: relative;
    }
}

ul {
    margin: 0;
    list-style-type: none;
}

.content {
    section {
        @extend .profile-copy;
    }
}

.img-container {
    @extend .border;
    border-left: $border-style;
    border-right: 1em solid black;
    background-size: cover;
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    transition: all $transition-speed linear;
}

.character-list {
    li {
        margin-bottom: 1.5em;

        h2 > a {
            color: #777;
            position: relative;
            text-decoration: none;

            @extend .header-border;

            &:hover {
                color: #222;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}
.character-selection {
    display: inline-block;
}
