<div class="float-img-container">
  <div class="float-img right box">
    <div class="infobox">
	<p class="info-title">Go deeper</p>
	<img src="http://projects.sfchronicle.com/2016/aids-survivors/assets/photos/lms.gif">
  	<p class="text">Watch the “Last Men Standing” <a href="http://projects.sfchronicle.com/2016/living-with-aids/documentary/">documentary film</a>, view<a href="http://projects.sfchronicle.com/2016/living-with-aids/profiles/"> videos and slideshows</a> with more about the lives of the men profiled, and learn <a href="http://projects.sfchronicle.com/2016/living-with-aids/about/">how the project was reported</a>.</p>
</div>

  </div>
</div>