<div id="social">
    <div>
    	<a id="twitter-icon" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fliving-with-aids&text=30%20years%20after%20AIDS%20began%20claiming%20lives%2C%20survivors%20still%20fighting%20for%20their%20lives.%20&via=sfchronicle&hashtags=survivingAIDS">
    	<i class="fa fa-twitter"></i>
    	</a>
    </div>
    <div>
    	<a id="facebook-icon" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A//projects.sfchronicle.com%2F2016%2Fliving-with-aids', 'facebook-share-dialog', 'width=626,height=436'); return false;">
		<i class="fa fa-facebook"></i>
    	</a>
    </div>
</div>