<div id="social">
    <div>
    	<a id="twitter-icon" href="https://twitter.com/intent/tweet?text=Map%3A%20Oakland%20police%20use%20of%20force%20analysis&url=http%3A%2F%2Fwww.sfchronicle.com%2Fbusiness%2Fitem%2FOPD-use-of-force-map-embed-44490.php%3Ft%3Dd32a02fc88%26cmpid%3Dtwitter-premium&via=sfchronicle">
    	<i class="fa fa-twitter"></i>
    	</a>
    </div>
    <div>
    	<a id="facebook-icon" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sfchronicle.com%2Fbusiness%2Fitem%2FOPD-use-of-force-map-embed-44490.php%3Ft%3Dd32a02fc88%26cmpid%3Dtwitter-facebook', 'facebook-share-dialog', 'width=626,height=436'); return false;">
		<i class="fa fa-facebook"></i>
    	</a>
    </div>
</div>