<p>Harry Breaux stands at the corner of Market and Castro streets, calling out to anyone who looks a little lost. In khaki shorts and a red collared shirt, rainbow socks pulled up to his knees, he&rsquo;s hawking maps and pointing tourists to neighborhood landmarks: the building where Harvey Milk had his camera shop, the GLBT History Museum.</p>

<p>It&rsquo;s a warm, cloudless June day in the Castro, a few days before the Pride Parade. There&rsquo;s always a carefree energy to the neighborhood during Pride Week. This year, it&rsquo;s amped up even more by the Supreme Court&rsquo;s anticipated ruling on same-sex marriage.</p>

<p>But for Harry, it all feels a little bittersweet. His pride in the Castro, in its history and the generation it still represents to him, is earnest. But the neighborhood doesn&rsquo;t feel like it&rsquo;s his anymore.</p>

<p>&ldquo;I&rsquo;m living this life, but I&rsquo;m not of it,&rdquo; Harry said, glancing around at the young men to whom the Castro now belongs. &ldquo;The people that have shared my life with me are dead.&rdquo;</p>

<p>Harry, a vigorous 70-year-old who has lived with HIV for half his life, is among the eldest of San Francisco&rsquo;s AIDS survivors. He sees himself and his generation of gay men as pioneers and dreamers. He marched in candlelight vigils after Milk was killed, strutted in some of the earliest Pride parades, went to the bathhouses. </p>

<p>He also lived through the darkest years of the AIDS epidemic, the decades of the 1980s and 1990s that branded his generation, first in stark terror, then in grief and fatigue. And throughout, in anger.</p>

<p>As the deaths mounted and there seemed no end in sight, a rage grew. Those who were dying, and those who loved them, slowly became aware of what are now obvious public health failures. When Harry talks of those years, his voice, softly accented by his Louisiana upbringing, takes on a hard edge.</p>

<p>&ldquo;A huge betrayal in my life was the way the government stood up and did nothing,&rdquo; he said. &ldquo;It just turned its back on us.&rdquo;</p>

<p>Harry was a military school graduate who came out in his 20s, and the Castro featured prominently in that process. He&rsquo;d visit San Francisco regularly in the 1970s and eventually moved there. He learned early in the epidemic, in 1985, that he was infected with HIV.</p>

<p>Though AIDS by then was impossible to ignore in San Francisco, the federal government barely acknowledged it. In the early years, Washington did little to inform the public about the threat of AIDS or to fund basic research. President Ronald Reagan didn&rsquo;t utter the word &ldquo;AIDS&rdquo; until 1985 &ndash; four years after the deaths had started and long after it had become a national crisis.</p>

<p>Deeply entrenched homophobia slowed federal reaction, allowing HIV to spread practically unfettered. San Francisco, though, responded faster and more aggressively to the epidemic than anyplace else in the world – in the earliest years, the city&rsquo;s AIDS budget was bigger than Reagan&rsquo;s national AIDS budget.</p>

<p>From that early work emerged the San Francisco Model, a blend of health care and public services that was unique at the time, but has since been replicated globally. </p>

<p>At its center were formal health care organizations such as UCSF and San Francisco General Hospital, but they were supported by a vast network of nonprofit agencies and an army of volunteers who came largely from the gay community.</p>

<p>Gay men and their allies donated time and money. They formed informal support groups, and they helped clean homes and cook dinners for the sick and dying. Lawyers wrote wills for young men on their deathbeds. Animal lovers raised money to help care for pets when their owners had to stop working.</p>

<p>Gay activists created the San Francisco AIDS Foundation, the AIDS Emergency Fund and Project Inform, which helped build a system for getting treatments to everyone with HIV. In San Francisco and other big cities, groups such as ACT UP formed to protest the slow government response, demanding more funding and better, faster access to drugs and health care.</p>

<p>Those activist years were alternately inspiring and heartbreaking.</p>

<p>&ldquo;AIDS was all about aiding each other – and not getting aid from the people around us and the country and the government,&rdquo; Harry said.</p>

<p>Harry lost his first friend to AIDS around the time he got his own HIV diagnosis. Shaken, he threw himself into the burgeoning volunteer community. He signed up with Shanti Project, a nonprofit agency that offered emotional and practical support to AIDS sufferers.</p>

<p>His last client was Andrew Meltzer, the San Francisco Opera conductor who died in 1988 at age 40, in the prime of his career. After Meltzer&rsquo;s death, Harry grew despondent. He didn&rsquo;t want anything to do with AIDS anymore. Three years later, he left San Francisco. </p>

<p>&ldquo;I ran. I just couldn&rsquo;t do it anymore,&rdquo; Harry said. &ldquo;I didn&rsquo;t want to hear the word &lsquo;AIDS&rsquo; again.&rdquo; </p>

<p>He sequestered himself in a monastery on the Central Coast for a time, distancing himself from friends and family. He retreated further in 1996 when he was diagnosed with AIDS. Hospitalized with fevers that made him delirious, his body overrun with three infections, he lost 45 pounds.</p>

<p>A photo from the time shows a gaunt face, his frame sinewy like strings pulled tight on a guitar.</p>

<p>&ldquo;I looked like a walking corpse,&rdquo; he said.</p>

<p>A decade ago, Harry returned to San Francisco, but his self-imposed isolation lingered. It took time to realize he was starved for social interactions. So instead of eating lunch at home, he&rsquo;d walk down the street for a cheap deli sandwich. When friends invited him to a party or afternoon coffee, he accepted. He also started looking for other survivors.</p>

<p>&ldquo;In the &rsquo;90s we all kind of went into isolation. We were in shock. You lost your friends, and all of a sudden you&rsquo;re alone,&rdquo; Harry said. &ldquo;Coming out of that is not easy.&rdquo;</p>

<p>Now his social calendar is full more days than not. He works part time, and he dates. He joined the Billys, a gay social group formed in the late 1980s. He volunteers in the Castro once a week. And he is a caregiver again, in recent months aiding an old friend who&rsquo;s recovering from a liver transplant. </p>

<p>Harry says he and others like him are trying to find their place in a city and a gay community that have become unfamiliar. So many they knew are dead. And Harry sometimes feels let down by a gay community that has never seemed to value its elders. Young gay men may be aware of what those who came before them went through, but their understanding is incomplete, Harry says, and their empathy can feel more academic than heartfelt.</p>

<p>How could they fully fathom what Harry and his peers endured? A young man diagnosed with HIV today will almost never develop AIDS. He won&rsquo;t watch his friends wither and die. He may be prescribed just a pill or two a day to keep his illness in check, rather than the dozens many long-term survivors still take daily.</p>

<p>With so much of the city&rsquo;s AIDS efforts focused on preventing new infections – on ending the epidemic for good – Harry said survivors can feel forgotten.</p>

<p>&ldquo;I feel like everyone&rsquo;s just waiting for us to die and not be a problem anymore,&rdquo; he said.</p>

<p>It&rsquo;s only in recent years that Harry has started to speak up, to challenge what he perceives as the same early failures in addressing the AIDS epidemic, happening all over again to the survivors. It&rsquo;s important, first, that survivors be seen, Harry said. He feels a compulsion now to share his story and to show his face.</p>

<p>In June, Harry did just that. In fishnet stockings and a black corset, wearing a curly black wig and bright red lipstick, he marched in the Pride Parade as Dr. Frank N. Furter, a character from &ldquo;The Rocky Horror Picture Show,&rdquo; leading a group of other long-term survivors.</p>

<p>It was a repeat performance. He&rsquo;d worn the same costume in 1990 – before he dropped out of San Francisco and the Castro, before he got sick himself. Back then, he&rsquo;d made the front page of a gay newspaper, the Bay Area Reporter. But this march felt more impactful, more important. </p>

<p>He spent weeks assembling his costume. He shaved his beard. He took his time dressing that morning, then hopped on Muni Metro, singing to passengers along the way. When he reached the parade, and found the group of fellow survivors he&rsquo;d be leading down Market Street, he held tight to a friend and wept.</p>

<p>Harry doesn&rsquo;t know why he survived when so many others did not. It makes it hard, sometimes, to be a spokesman for a generation. </p>

<p>&ldquo;I&rsquo;m nothing special here,&rdquo; he said. &ldquo;Except that I lived.&rdquo;</p>