<div id="menu" role="navigation" class="scroll_div">
	<a href="http://www.sfchronicle.com" alt="SF Chronicle">
		<img class="c-logo" src="{{ url_for('static', filename='images/sf_letter_c_logo_black.png') }}">
	</a>	
	<a href="{{ url_for('index') }}"><span id="logo">
		Last Men Standing
	</span></a>
	
	<ul id="main-links"> 
		<li><a href="{{ url_for('mainbar_view') }}" class="about">The Story</a></li> 
		<li><a href="{{ url_for('profiles_view') }}" class="people">The Men</a></li>
		<li><a href="{{ url_for('doc_view') }}">The Film</a></li>
		<li><a href="{{ url_for('about_view') }}">About</a></li>

	</ul> 
	
	<div id="footer-social">
		<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fliving-with-aids&text=30%20years%20after%20AIDS%20began%20claiming%20lives%2C%20survivors%20still%20fighting%20for%20their%20lives.%20&via=sfchronicle&hashtags=survivingAIDS" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//projects.sfchronicle.com%2F2016%2Fliving-with-aids" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
        <a href="mailto:?subject=Last Men Standing – A San Francisco Chronicle special report.&body=http://projects.sfchronicle.com/2016/living-with-aids" title="Share via Email"><i class="fa fa-envelope"></i></a>
	</div> 

	<div id="mobile-menu">
	    <i class="fa fa-bars"></i>
	</div>	

	<div id="mobile-navbar">
		<ul>
	        <section class="button-group" style="width: 100%;">
	        	<a href="{{ url_for('mainbar_view') }}">The Story</a>
	        	<a href="{{ url_for('profiles_view') }}">The Men</a>
        	</section>
        	<section class="button-group" style="width: 100%;">
	        	<a href="{{ url_for('doc_view') }}">The Film</a>
	        	<a href="{{ url_for('about_view') }}">About</a>
        	</section><br>
	        <section class="button-group social-icons" style="width: 100%;">
                <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fliving-with-aids&text=30%20years%20after%20AIDS%20began%20claiming%20lives%2C%20survivors%20still%20fighting%20for%20their%20lives.%20&via=sfchronicle&hashtags=survivingAIDS" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//projects.sfchronicle.com%2F2016%2Fliving-with-aids" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                <a href="mailto:?subject=Last Men Standing – A San Francisco Chronicle special report.&body=http://projects.sfchronicle.com/2016/living-with-aids" title="Share via Email"><i class="fa fa-envelope"></i></a>
            </section>
   		</ul>
	</div>


</div>