<div id="menu" role="navigation" class="scroll_div">
	<a href="http://www.sfchronicle.com" alt="SF Chronicle">
		<img class="c-logo" src="{{ url_for('static', filename='images/sf_letter_c_logo_black.png') }}">
	</a>	
	<a href="{{ url_for('index') }}"><span id="logo">
		Last Men Standing
	</span></a>
	
	<ul id="main-links"> 
		<li><a href="{{ url_for('mainbar_view') }}" class="about">The Story</a></li> 
		<li><a href="{{ url_for('profiles_view') }}" class="people">The Men</a></li>
		<li><a href="{{ url_for('doc_view') }}">The Film</a></li>
		<li><a href="{{ url_for('about_view') }}">About</a></li>

	</ul> 
	
	<div id="footer-social">
		<a href="#" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" title="Share via Email"><i class="fa fa-envelope"></i></a>
	</div> 

	<div id="mobile-menu">
	    <i class="fa fa-bars"></i>
	</div>

	<div id="mobile-navbar">
		<ul>
	        <li><a href="#">The Story</a></li>
	        <li><a href="#">The Men</a></li>
	        <li><a href="#">The Film</a></li>
	        <li><a href="#">About</a></li>
	        <li>SHARE</li>
	        <li><a href="#">FACEBOOK</a></li>
	        <li><a href="#">TWITTER</a></li>
	        <li><a href="#">EMAIL</a></li>
   		</ul>
	</div>


</div>