<header class="topper mick">
    <section>
        <h1>Mick Robinson</h1>
        <p class="description">Still standing despite AIDS and addiction.</p><br>
        <p>By Erin Allday</p>

        <hr>
    </section>
    <div id="okplayer-mask" style="position: fixed; left: 0px; top: 0px; overflow: hidden; z-index: -998; height: 100%; width: 100%; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw%3D%3D&quot;);"></div>
    <iframe src="//player.vimeo.com/video/154648750?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;playbar=0&amp;loop=1&amp;autoplay=1" frameborder="0" style="position: absolute; left: -10px; top: -10px; overflow: hidden; height: 120%; width: 116%; visibility: visible; background-color: black; z-index:-999;" id="mick-video"></iframe>
    <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;"></iframe>
    <div class="alt-overlay"></div>
    <link href="#mainbar" class="s slide-control lede fa fa-arrow-down" title="next slide"></link>
</header>
