<p><span class="dropcap">F</span>ifty was a tough birthday for Mick Robinson. It hit him, slowly, that he&rsquo;d wasted too much of his life, let it pass recklessly by.</p>

<p>He&rsquo;d never imagined himself growing old – he&rsquo;d never thought that the regrets of his past could catch up to him. Between AIDS and endless cycles of depression and addiction, he&rsquo;d expected to die a young man.</p>

<p>&ldquo;I just kind of believed that HIV would take me out sometime soon,&rdquo; said Mick, now 57. &ldquo;And then I reached 40 and was still alive, and then 45. I went through a pretty severe midlife crisis at 50.&rdquo;</p>

<p>For almost all of his adult life, Mick has battled the deadly trifecta of mental illness, drug abuse and AIDS. He&rsquo;s hardly alone. About 20 percent of people with HIV or AIDS are, or were, intravenous drug users who likely became infected that way. Roughly half of people living with HIV or AIDS report depression or other mental health problems.</p>

<p>To this day, Mick doesn&rsquo;t know if he got infected from sex or drugs. It doesn&rsquo;t really matter anyway, he says.</p>

<p>Mick grew up in the suburbs of Washington, D.C., an only child in one of the first black families in Silver Spring, Md. He got used to not fitting in; being gay on top of being black was the &ldquo;trump card&rdquo; of alienation. Even after he started college, at San Diego State University, he struggled to find a place he belonged. His life became splintered.</p>

<p>&ldquo;Friday night was my straight night. Saturday night would be my gay night,&rdquo; he said. The straight crowd was into cocaine, and the gay crowd methamphetamine. It turned out Mick liked meth – a lot.</p>

<p>Within a few years he was hooked. He dropped out of college and eventually moved to Los Angeles, where his life revolved entirely around supporting his drug habit. He can&rsquo;t remember exactly when or how he realized he was in trouble, but sometime in the summer of 1986, he called his mom and asked for a plane ticket home. </p>

<p>In Maryland two weeks later, Mick attempted suicide. He woke up in a psych ward, angry at having survived, ashamed of how completely his life had fallen apart.</p>

<p>Four days into his stay, a doctor pulled Mick into a private office. The HIV test he&rsquo;d been given when he was admitted was positive. He had a year or two to live, maybe a couple more if he was lucky, the doctor said. Mick was 28.</p>

<p>&ldquo;My response was, &lsquo;Oh great, I don&rsquo;t have to try to kill myself again,&rsquo; &rdquo; Mick said.</p>

<p>Fear of AIDS, even among medical professionals, was peaking at the time. The hospital staff posted a &ldquo;toxic&rdquo; sign on the door to his room. He was given his own eating utensils and drinking cups – even his own ashtray. Nurses and orderlies dressed head to toe in protective gear. The other patients quickly figured out that he had HIV.</p>

<p>&ldquo;I was totally ostracized,&rdquo; he said.</p>

<p>In 1991, five years after he tested positive, Mick was still alive. But the prognosis remained the same: He was still going to die from AIDS, doctors said, and Mick believed them. He cashed in a retirement account from a job in Washington, D.C., and he convinced his boyfriend that they should move to San Francisco.</p>

<p>He&rsquo;d managed to quit meth, but in San Francisco he quickly picked up the habit again. Over the next two decades, he&rsquo;d have periods of health and stability broken up by years of abuse and unstructured living.</p>

<p>The drug abuse and mental health problems &mdash; depression, bipolar disorder, attention deficit disorder and anxiety &mdash; complicated his HIV, which was largely a nonissue until 1996, when he got pneumonia. He was hospitalized for more than a month and lost 50 pounds. But he&rsquo;d managed to hang on until the first effective antiretroviral therapies came out.</p>

<p>Even then, drug and mental health problems interfered with his AIDS treatment. When he was in the thick of meth addiction, he&rsquo;d forget to take his AIDS drugs, sometimes for days at a time. Depression, too, would get in the way.</p>

<p>&ldquo;It&rsquo;s amazing how you just don&rsquo;t care, you just don&rsquo;t have the energy, the motivation, to do what you need to do and be responsible,&rdquo; Mick said.</p>

<p>He calls the time around his 50th birthday his &ldquo;dark period.&rdquo; It lasted for years. He was in low-income housing in the Tenderloin; he had no money, no job and few prospects for finding work. He was alone, secluded, feeling too old for a gay community that valued youth and vitality.</p>

<p>He lived &ldquo;like a zombie&rdquo; – staying home for days at a time, not bathing, not changing clothes, watching TV and barely eating. He started using meth again. He ignored friends and talked to his mother once a week, just to confirm to her that he was alive. He&rsquo;d sit in his bed, &ldquo;wasting away and feeling like I&rsquo;m unworthy.&rdquo;</p>

<p>Then one day, five years ago, he was clipping a toenail and nicked a lesion that had been growing there, unnoticed by him. Blood spurted all over. He dragged himself to a doctor. The lesion was Kaposi&rsquo;s sarcoma, a cancer that HIV-positive people weren&rsquo;t supposed to get anymore.</p>

<p>Mick was shocked. The lesion, a classic sign of AIDS, was a red flag. Somehow he was still alive, he realized, and he was going to have to take care of himself. To start thinking and acting like a survivor.</p>

<p>&ldquo;I decided either it was time to commit suicide,&rdquo; he said, &ldquo;or do something to keep living.&rdquo; Mick decided to invest in his life.</p>

<p>He went back on his HIV drugs and quit meth again. He joined a group for long-term HIV survivors with the San Francisco AIDS Foundation. He started rebuilding the social life he&rsquo;d abandoned.</p>

<p>He&rsquo;s since thrown himself into advocacy work – for AIDS patients, for low-income residents, for people facing eviction. Last fall, he was appointed to a regional committee that oversees federal AIDS funding for San Francisco, Marin and San Mateo counties. And he went back to school.</p>

<p>&ldquo;I&rsquo;m a very happy individual, probably happier than I&rsquo;ve ever been,&rdquo; Mick said. &ldquo;In some ways I look at HIV as giving me purpose. It certainly was an anchor and chain for a while.&rdquo;</p>