<!-- Navigation -->
<nav class="b-nav" role="navigation">
    <ul>
        <li><span class="b-link"><b>Profiles</b></span></li>
        {% for p in profiles %}
            <li>
                <a href="/p/{{ p.slug }}" data-url="{{ p.image_url }}" class="b-link character-selection" tabindex="10">
                    {{ p.name }}
                </a>
            </li>
        {% endfor %}
        <br>
        <li><a href="/" class="b-link">Main bar</a></li>
        <li><a href="#" class="b-link">Documentary</a></li>
        <li><a href="#" class="b-link">About</a></li>
    </ul>
</nav>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

  <!-- Burger-Brand -->
  <a href="#" class="b-brand"></a>
</div>
