<a href="#nav" class="nav-trigger">
	Menu<span></span>
</a>

<nav id="nav" role="navigation">
	<a href="javascript:void(0)" class="cd-close-nav">Close</a>
	<!-- <section>
		{% for p in profiles %}
		<p>
			<a href="/{{ p.slug }}" data-url="{{ p.image_url }}" tabindex="10">
				<em>{{ p.name }}</em>
			</a>
		</p>
		{% endfor %}
	</section> -->

	<!-- <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
	  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
	  <h1>Grid Item With an Image</h1>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
	</a>
	<a href="javascript:void(0)" class="grid-item grid-item-big">
	  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
	  <h1>Another Wide Item</h1>
	  <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
	</a> -->

	<div class="grid-items">
	{% for p in profiles %}
	  <a href="/{{ p.slug }}" style="background-image: url({{ p.image_url }});" tabindex="10" class="grid-item">
	    <h3>{{ p.name }}</h3>
	    <p>{{ p.description }}</p>
	  </a>
	  {% endfor %}
	</div>
</nav>

<div class="overlay"><!-- shadow layer visible when navigation is visible --></div>
