<a href="#nav" class="nav-trigger"> Menu<span></span></a>

<nav id="nav" role="navigation" class="swiper-no-swiping">
	<div class="grid-items">

		<section class="grid-item grid-title">
			<a href="{{ url_for('index') }}"><h1>Surviving AIDS</h2></a>
			<ul>
				<li><a href="{{ url_for('mainbar_view') }}"><b>Read:</b> Mainbar hed goes here</a></li>
				<li><a href="{{ url_for('doc_view') }}"><b>Watch:</b> The Documentary</a></li>
				<li><a href="{{ url_for('about_view') }}"><b>About the project</b></a></li>
				<li><b>Share:</b> {% include 'components/_social-include.html' %}</li>

			</ul>
		</section>

		{% if profile %}
			<a href="{{ url_for('profile_view', slug=profile.slug) }}" data-src="{{ profile.image_url }}" style="background-image: url(//s3-us-west-1.amazonaws.com/projects.sfchronicle.com/media/holder.jpg);" tabindex="10" class="grid-item" title="{{ profile.name }}">
			  <h2>{{ profile.name }}</h2>
			</a>
			<!-- Fallback for non JavaScript browsers -->
			<noscript><a href="{{ url_for('profile_view', slug=profile.slug) }}" style="background-image: url({{ profile.image_url }}));" tabindex="10" class="grid-item" title="{{ profile.name }}">
			  <h2>{{ profile.name }}</h2>
			</a></noscript>
		{% endif %}

		{% for p in profiles %}
		  <a href="{{ url_for('profile_view', slug=p.slug) }}" data-src="{{ p.image_url }}" style="background-image: url(//s3-us-west-1.amazonaws.com/projects.sfchronicle.com/media/holder.jpg);" tabindex="10" class="grid-item" title="{{ p.name }}">
		    <h2>{{ p.name }}</h2>
		  </a>
		  <!-- Fallback for non JavaScript browsers -->
		  <noscript><a href="{{ url_for('profile_view', slug=p.slug) }}" style="background-image: url({{ p.image_url }}));" tabindex="10" class="grid-item" title="{{ p.name }}">
		    <h2>{{ p.name }}</h2>
		  </a></noscript>
		{% endfor %}

	</div>
</nav>
<div class="overlay" unselectable="on"><!-- shadow layer visible when navigation is visible --></div>