<div id="menu" role="navigation" class="scroll_div" style="display:none">
	<a href="http://www.sfchronicle.com" alt="SF Chronicle">
		<img style="float: left; width: 27px; padding: 5px 15px; margin-top: -10px;" src="{{ url_for('static', filename='images/sf_letter_c_logo_black.png') }}">
	</a>	
	<a href="{{ url_for('index') }}"><span id="logo">
		Surviving AIDS
	</span></a>
	
	<ul id="main-links"> 
		<li><a href="{{ url_for('mainbar_view') }}" class="about">Main Sotry</a></li> 
		<li><a href="{{ url_for('profiles_view') }}" class="people">Featured Stories</a></li>
		<li><a href="{{ url_for('doc_view') }}">Documentary</a></li>
		<li><a href="{{ url_for('about_view') }}">About</a></li>

	</ul> 
	
	<div id="footer-social">
		<a href="#" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" title="Share via Email"><i class="fa fa-envelope"></i></a>
	</div> 


</div>


<script type="text/javascript">
window.onload = function() {
$(document).scroll(function () {
    var y = $(this).scrollTop();   
    if (y > 1000) {
        $('.scroll_div').fadeIn();
    } else {
        $('.scroll_div').fadeOut();
    }
});}
</script>