<aside class="inline-asset" id="stepper-graphic">
    <p class="lede"><span class="dropcap">S</span>ince the first death, of a man who in 1981 succumbed to a disease that did not yet have a name, AIDS has taken 20,000 lives in San Francisco, most of th
        em gay men, most of them decades too soon.</p>
    <section id="explore">
        <h2>Explore this #1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button class="button viz-trigger" id="stepper-graphic">*</button>
    </section>
</aside>

{% include "inlines/_deaths-viz.html" %}
