<aside class="inline-asset">
    <p>
    It’s unclear how many long-term survivors of AIDS live in San Francisco or the wider Bay Area, and their needs are not well defined. Of the 16,000 people with AIDS or HIV, the virus that causes it, more than half are age 50 or older, and most of that group became infected during the worst of the epidemic in the 1980s and 1990s. Several thousand gay men in San Francisco have been living with HIV or AIDS for more than 20 years.</p>
    <section>
        <h2>My other inline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
</aside>
