<aside class="inline" style="max-width: 1230px; margin: 0 auto;">
    <section>
        <img src="{{ url_for('static', filename='images/aids_graphic.png') }}"><br>
    </section>
</aside>

<aside class="inline" style="max-width: 1230px; margin: 0 auto;">
    <section>
        <img src="{{ url_for('static', filename='images/aids_graphics.png') }}"><br>
        <p class="byline" style="font-size: 0.65em; color: #636363; font-family: 'AntennaMedium', 'Lato', 'Helvetica Neue', Helvetica, sans-serif;">Graphics by Jeremy Yingling</p>
    </section>
</aside>


