<aside class="inline-asset inline-asset-left" id="two">
    <p>By the peak of the AIDS epidemic in 1992, nearly 9,500 people had died, mostly young gay men. In the darkest, deadliest years, 30 people were dying from AIDS every week. Those living among the plague lost dozens of friends and multiple lovers. They witnessed young bodies ravaged by awful, sometimes disfiguring disease, all the while knowing that they likely faced the same fate.</p>
    <section id="learn">
        <h2>Learn this #2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button class="button viz-trigger" id="two">*</button>
    </section>
</aside>
