<aside class="inline aids-graphics" style="max-width: 1220px; margin: 0 auto;">
    <section class="aids-graphics-inner">
        <img src="{{ url_for('static', filename='images/aids_graphics.png') }}"><br>
        <p class="caption" style="text-align: left;">All data are from San Francisco Department of Public Health epidemiology reports. Figures in most recent years are preliminary. The definition of HIV infection stage 3 (AIDS) cases was updated in 2014, which may be partially responsible for recent decreases in diagnoses. Graphics by Jeremy Yingling</p>
    </section>
</aside>


